[2016-01-23 17:58] hyPiRion commented on #2072
The nREPL version has been bumped to 0.2.12  after 2.5.3 came out. 2.5.3 ships with 0.2.10. When 2.6.0 is out, the default version will be 0.2.12.

If you want to upgrade to `0.2.12` by default, see [Replacing Default Repl Dependencies](https://github.com/technomancy/leiningen/blob/master/doc/PROFILES.md#replacing-default-repl-dependencies). In your case, it should be sufficient to do

[code]

[2016-01-23 18:03] hyPiRion commented on #1961
Alright, this is inconsistent because the native path is not cleaned up if `:native-path` has been changed. Neither does it clean up if the native dependencies themselves change. I'm working on a fix for this, which should be provided with 2.6.0.

It seems like the native paths themselves works as intended for native dependencies (mostly because of what's discussed over at https://github.com/techn

[2016-01-23 19:43] novakboskov commented on #2072
Hm... It dosn't work. ```lein repl``` in template directory still reports:
[code]
Version 0.2.12 is respected only in projects without ```:eval-in-leiningen true``` and outside any project.
I have also tried to put
[code]
in template's project.clj and it still use 0.2.10.

[2016-01-23 21:37] hyPiRion commented on #2072
Ah, right, this is happening with `:eval-in-leiningen`.

I don't think there is any straightforward way to do this, as Leiningen itself embeds a version of `tools.nrepl`.

[2016-01-24 18:05] wbthomason opened #2073 "lein search fails when downloading clojars.org index"
I've recently made fresh installs of leiningen on machines running OSX and Arch Linux, using their respective package managers (homebrew and the AUR). When I run `lein search ring`, leiningen updates its package indices, as expected. However, the program appears to deadlock or hang on "Downloading https://clojars.org/repo/.index/nexus-maven-repository-index.properties".

By looking in .lein, I've

[2016-01-24 22:09] hyPiRion commented on #2073
Yeah, it does not seem to work on master either.

[2016-01-25 00:15] hyPiRion commented on #2072
Either way, this will be fixed once 2.6.0 is out.

[2016-01-29 22:15] phillord opened #2074 "Add plugins and dependencies from the command line"
Is there a way, or could a way be added to enable injecting plugins or dependencies into the leiningen from the command line, as opposed to having to modify profiles.clj.

I ask, because this would enable cider and other tools to run leiningen with the correct middleware without the users having to fiddle with their profiles.clj. This would substantially ease the installation of cider in the first

[2016-01-30 21:52] phillord commented on #2074
Never mind. The update-in task does the job.

[2016-01-31 01:18] hyPiRion commented on #2074
Yeah – For CIDER, I guess `update-in` would be the go-to way to do it if you want to work with multiple versions.

[2016-01-31 10:00] phillord commented on #2074
The idea is also to reduce the initial installation burden. If cider can do it all without using profile.clj, then this will make life significantly better for newbies. update-in seems to do the job even if it does make the actual command line fairly long!

[2016-01-31 16:40] hyPiRion commented on #2074
@phillord Right – I see this fairly often when people want to have plugins they want to apply on a global level which is only used for your personal development environment. I'd be happy to hear ideas on how to make this distinction clearer, and support easier installation of these. The only thing that I don't want is to make it too magical for users.

For CIDER in particular though, I think we ca

[2016-01-31 18:31] phillord commented on #2074
I'm not sure that this is the correct solution. It still causes problems when moving backward and forward between versions. And as the boot folks have noted it means that the cider middleware will be installed for ANY repl not just those launched by cider. Update-in works and it's very constrainted.

I was working on a leiningen patch which allows adding an additional profile.clj file to be given

[2016-01-31 18:33] phillord commented on #2074
Perhaps, we should re-open this! I think update-in is a nice solution for now. but perhaps there is something cleaner.

The discussion has been at https://github.com/clojure-emacs/cider/issues/1531

[2016-01-31 18:39] phillord commented on #2074
Also, with the PR you submitted this will still break after version upgrades. Of course repl.clj could be updated, but that assumes the user hasn't added anything. Still, it will have the advantage of breaking if anyone has a :repl profile in their profiles.clj already.

[2016-01-31 18:59] hyPiRion commented on #2074
Yeah, sounds sensible to reopen this. A merge-in task would make sense, at least for now. I am guessing it would be possible to compose with multiple tools as well if need be.

Some thoughts: Perhaps the name should be merge-profiles or something hairy like that, merge-in doesn't really tell you that profiles are being merged with the project map. And maybe the value should be the profiles to merg

[2016-01-31 20:41] phillord commented on #2074
Easy on the name --  I am terrible at names anyway. Putting the value on the command line seems reasonable, unless the command line gets too long.

Anything that avoids the multiple update-in calls which are fairly ugly.

[2016-02-01 10:44] walkermatt commented on #1580
For reference I just encountered this on a fresh install of `openjdk-8-jre` on Ubuntu 15.10. Searching lead me to this [bug report](https://bugs.launchpad.net/ubuntu/+source/ca-certificates-java/+bug/1396760) and the workaround post OpenJDK install to set up the certificates which is to run the following manually:

    sudo /var/lib/dpkg/info/ca-certificates-java.postinst configure

[2016-02-02 00:27] hyPiRion opened #2077 "resolve-dependencies is sometimes called before init-profiles"
This causes `:native-path` and `:target-path` to not be properly initialised, causing potential havoc and trouble.

[2016-02-04 23:05] #1961 closed

[2016-02-05 00:38] hyPiRion commented on #2069
Seems to work fine. No big changes according to the changelog.

This is also added to NEWS.md, so I guess this is resolved.

[2016-02-05 00:38] #2069 closed

[2016-02-05 00:39] hyPiRion commented on #2072
Fixed through release of 2.6.0.

[2016-02-05 00:39] #2072 closed

[2016-02-05 14:33] jsyrjala opened #2079 "2.6.0 and ClassNotFound with lein midje"
I am not sure if this is lein, lein-midje or midje issue.

I just did `lein upgrade` and now `lein midje` fails with this stacktrace when using lein 2.6.0

Everything worked fine with lein 2.5.3.

I am using plugin `lein-midje "3.1.3"` and clojure 1.8.0

[code]

[2016-02-05 14:49] hyPiRion commented on #2079
Yeah, I can verify that this breaks for some reason. I'll have a look later today to see if I can figure out the cause.

[2016-02-05 19:29] theJenix commented on #2079
If it helps, I get the same problem with a pretty basic compojure app.  To reproduce, create a new app using the compojure-app template (see: https://github.com/yogthos/compojure-template) and attempt to run it with "lein ring server-headless".  You should see it fail in the same way.

[2016-02-05 20:24] snowell commented on #1915
As a bystander who was also affected by this issue, I can confirm that adding `^:leaky` to the required profiles seems to do the trick (at least as of leiningen 2.5.0)

[2016-02-07 00:40] hyPiRion commented on #2079
This is now fixed on master.

Since this causes breakage for many popular plugins, I believe this warrants a bugfix release in and of itself. I'd like to wait roughly half a day or so, so that other potentially major bugs can be discovered and hopefully be resolved in the same release.

[2016-02-07 21:53] mmower opened #2080 "ClassNotFoundException: leiningen.core.project$reduce_dep_step"
After updating from 2.5.3 to 2.6.0 my ring server no longer starts.

Alia:sortapi matt$ lein ring server-headless
Exception in thread "main" java.lang.ClassNotFoundException: leiningen.core.project$reduce_dep_step, compiling:(/private/var/folders/3w/h1j_8qvs0k59mhmx5n72p6840000gn/T/form-init4229607758209986319.clj:1:10218)
	at clojure.lang.Compiler.load(Compiler.java:7386)

Reverting to 2.5.3 seem

[2016-02-07 22:04] hyPiRion commented on #2080
Duplicate of #2079. I will release 2.6.1 in a few hours, so it should be resolved when you update to 2.6.1.

[2016-02-07 22:04] #2080 closed

[2016-02-08 12:08] turtle-bazon opened #2081 "Setting :classifier in project.clj affects in pom generation, but do not affects target filename."

[2016-02-08 18:37] hyPiRion opened #2082 "`lein compile` may print out info messages with *print-dup* enabled"
If you do `lein compile` directly on a project where you don't have the dependencies downloaded, the dependencies are downloaded with `*print-dup*` enabled like so:

[code]

We should have a way to enable/disable `*print-dup*` when doing `eval-in-project`. The easiest is probably to have a dynamic var which you can bind. That should also be backwards compatible.

[2016-02-08 19:54] ivanpierre opened #2083 "Message from PowerShell issue when upgrading wint Windows (10 in my case)"
The lein upgrade works well, but the powerShell command seems to output the help message of PowerShell.
Afterward, the upgrade is clean, and also the upgrade when already upgraded.

[2016-02-08 20:00] ivanpierre commented on #2083
I have wget functioning, but I haven't tried to see if I passed through this pass.

[2016-02-08 21:10] ivanpierre commented on #2083
Ok, it seems that `call PowerShell -? >nul` doesn't discard output.

[2016-02-08 21:17] ivanpierre commented on #2083
But astonishingly `call PowerShell -? >gaga` works well and generate gaga file... :) so `>nul` problem ?

[2016-02-09 06:38] Reefersleep opened #2084 "lein pulls in Clojure 1.6 rather than 1.8"
I discovered this while getting an error trying to do `lein new figwheel`. bhauman figured out that what caused the error was that somehow my lein was using Clojure 1.6 rather than 1.8, and lein-figwheel was using language features not in 1.6. bhauman changed lein-figwheel so that it supported 1.6, but gave a warning if it detected this version.

The issue where I reported this at the lein-figwhee

[2016-02-09 10:26] hyPiRion commented on #2084
Could you explain the exact steps to reproduce this issue?

According to that thread, you do

[code]

and it crashes with the error presented there, is that correct?

[2016-02-09 14:08] hyPiRion commented on #2082
This issue is rather straightforward and only requires some basic knowledge of Clojure and dynamic vars.

More specifically, we need to add in a dynamic var in `eval.clj` in leiningen-core, which enables *print-dup* when set. This should be set instead of `*print-dup*` in the compile task.

Feel free to ask for help from me if you want to contribute.

[2016-02-09 21:04] Reefersleep commented on #2084
Hello @hyPiRion

Sorry for acting so unprofessional :) Just wanted to get the issue in before I forgot to report it at all.

Yes, I do what you describe, and prior to bhauman making lein-figwheel Clojure 1.6 compatible and yogthos bumping lein-figwheel to that version, the `lein figwheel` would crash. Now, however, the result is as in the paste below.

[code]

[2016-02-09 22:31] hyPiRion commented on #2084
@Reefersleep, oh, no worries – you don't act unprofessional at all. I just need to understand what's going on =)

What happens when you do `lein version`, and what does the `lein repl` prelude tell you? The repl prelude should be something like

[code]

[2016-02-10 16:51] Jarzka opened #2085 "Leiningen hangs if repo is not available"
Hi

Today I noticed that if I have defined a repository in project.clj file and that repository does not respond, leiningen does not inform about this but just hangs if you try to clean or compile your project. This can be confusing.

[2016-02-10 22:01] Reefersleep commented on #2084
[code]
and
[code]

[2016-02-11 09:24] hyPiRion commented on #2085
Yeah, this is just bad UX.

[2016-02-11 09:34] hyPiRion commented on #2084
It seems like there are still some user profiles on the path, according to the `lein repl` output: For 2.5.3, REPL-y should be on 0.3.7 and nREPL should be on 0.2.10.

You say `~\.lein\profiles.clj` (for reference, `%userprofile%` is `~` on Windows iirc) is empty ; is `~\.lein\profiles.d` a directory, and does it contain any files? If so, then the files in there set up profiles as well.

If not, c

[2016-02-11 21:36] Reefersleep commented on #2084
To be accurate, `~\.lein\profiles.clj` contains the following:
[code]
There is no `~\.lein\profiles.d` dir.
I don't have a LEIN_HOME, only a LEIN_JAR.
I just upgraded to 2.6.1, but `lein figwheel` gives the same result.

[2016-02-11 22:25] hyPiRion commented on #2084
Well, then I sadly have absolutely no idea how this could be happening. =|

[2016-02-12 05:43] VoltaicAge8838 opened #2086 "lein.bat doesn't correctly handle whitespace in the standalone.jar file path"
Running the lein batch file results in the message
`Error: Could not find or load main class Lastname\.lein\self-installs\leiningen-2.6.1-standalone.jar`
Since the full path is "C:\Users\Firstname Lastname\.lein\self-installs\leiningen-2.6.1-standalone.jar" it looks like the space in the path is throwing it off.
Putting quotes around `%CLASSPATH%` on line 380 seems to solve the issue. However, the

[2016-02-12 07:57] Reefersleep commented on #2084
Huh :\

Well, it's not a problem for me right now, and I'll hopefully be moving on to something unix-based soon, which I suspect will make the problem disappear entirely from my world. I hope that either I'm especially unfortunate in having experienced this, or that many other experience it and chime in so we can get to the bottom of it.

Thanks for your help, and thank you for Leiningen! :) :+1:

[2016-02-12 13:23] hyPiRion commented on #2084
Yeah, I hope there's some very weird configuration that causes this.

I'm closing this if you don't mind, as it doesn't seem to cause any big problems for now. However, feel free to reopen the moment this becomes an issue again (or post here if anyone else encounters this problem).

[2016-02-13 03:19] severen opened #2087 "Add support for the XDG Base Directory Specification"
You can find the specification [here](http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html).

This [blog post](https://ploum.net/207-modify-your-application-to-use-xdg-folders/) lists the advantages of using the XDG Base Directory Specification as follows:
- `$HOME` is a lot less cluttered.
- Backups are a lot more safer and easier (you know that creating a backup of your `$XDG_D

[2016-02-13 19:42] kleewho commented on #1846
Now I remember why I don't like mentioning issues in commit messages

[2016-02-15 08:00] Reefersleep commented on #2084
Just want to note that if I do `lein new foobar` and read the project.clj, it lists as dependencies: `:dependencies [[org.clojure/clojure "1.6.0"]]`.

[2016-02-15 13:02] hyPiRion commented on #2084
Then you use an older version of Leiningen somehow – 2.5.3 shipped with 1.7.0 and the 2.6.x versions ships with 1.8.0 both in Lein proper and in the template.

[2016-02-15 13:16] Reefersleep commented on #2084
Apply :raised_hand: to :expressionless:

My LEIN_JAR environment variable was pointing towards a 2.5.0 version I had downloaded at some point. Removing the LEIN_JAR made everything ok - no warnings on `lein figwheel`, and `lein new foobar` uses Clojure 1.8 in the project.clj

I find it a bit weird though that when using `lein -v` and when upgrading and such, it never reported that it was using 2.5

[2016-02-15 13:28] hyPiRion commented on #2084
yeah, that sounds very much like a bug. I'll have a look at that later today.

[2016-02-15 13:30] Reefersleep commented on #2084
Yeah, good job! :+1:

And again, thank you for Leiningen! :D

[2016-02-15 17:30] cprice404 opened #2089 "settings such as `local-repo` and `mirrors` from user profile not honored when `javac` is called by `jar`"
We noticed an unusual thing in our CI jobs recently;  all of our CI jobs have a `~/.lein/profiles.clj`, which contains a `user` profile, which provides values for `:local-repo` and `:mirrors`.  We use `:local-repo` to keep the artifacts localized to the specific CI job (rather than system-wide), and we use `:mirrors` to cause all of the jobs to use our local nexus mirror rather than hammering on c

[2016-02-15 17:32] cprice404 commented on #2089
Here's a failing test that illustrates the issue:

https://github.com/cprice404/leiningen/commit/cadf5ea2f75624f2054b52eab0b9f179d4f18c2a

[2016-02-15 17:34] cprice404 commented on #2089
In the `jar` task itself, there is some code about "whitelisted" settings that seems intended to address this issue.  It seems like that logic just needs to be extended to the `javac` task:

https://github.com/technomancy/leiningen/blob/2ca63f0084091d7799482ebe97cb60b8f17d76c9/src/leiningen/jar.clj#L274

[2016-02-15 17:53] cprice404 commented on #2089
@waynr you may be interested in this because I think it is involved in some of the wackiness we've been seeing in CI recently.  If this gets merged and released we'll probably want to upgrade all of the CI servers to the latest release.

[2016-02-15 21:40] ackalker commented on #2073
I think the cause may be that the HTTP response for `https://clojars.org/repo/.index/nexus-maven-repository-index.properties` does not contain a `Content-Length` header, at least according to `http/get`.

Adding an (ugly: it appears as if execution never gets past the first part of the `let` form) hack to [these lines](https://github.com/technomancy/leiningen/blob/2ca63f0084091d7799482ebe97cb60b8f

[2016-02-15 21:44] ackalker commented on #2073
Oddly, getting the headers with `curl` *does* return a `Content-Length` header:

[code]

[2016-02-15 22:07] owengalenjones commented on #2079
I'm still getting this error on `2.6.1`:

[code]

[2016-02-15 22:36] #1846 closed

[2016-02-15 23:15] hyPiRion commented on #2073
Thanks for looking into this issue!

I'm guessing that the content length not throwing may just be caught higher up in the pipeline, causing the entire thing to stall. I haven't looked too deeply into it however.

Simulating clojars, I noticed that `clj-http` adds in `accept-encoding: gzip, deflate`, which seems to be the reason the content length is not sent over. Not sure how smart it is to remo

[2016-02-15 23:27] hyPiRion commented on #2089
Thank you for taking the time for looking into this; seems like a nasty rabbit hole to dig into. Will happily accept #2090 when it's been fixed and I've gotten time to review it.

[2016-02-15 23:29] hyPiRion commented on #2079
Is this an issue with a plugin, or is that

[2016-02-15 23:45] hyPiRion commented on #2087
This seems like something we should investigate, but adding it right now for profiles would break backwards compatibility (unless we add an override enviroment variable, in which case you could just use `LEIN_HOME`).

There's also the aspect of usability: People tend to write `~/.lein/profiles.clj` manually, as Leiningen is a CLI. I'm guessing the recommendation there is mostly for GUI application

[2016-02-15 23:59] hyPiRion commented on #2084
No problem, thanks for taking the time to investigate this with me =)

I'm still unable to figure out how it could say `lein 2.6.1` with LEIN_JAR set. I am on linux though, so I have a hard time verifying windows issues.

I think we should probably update the documentation around LEIN_JAR and recommend against using it, as it gives you a bad time when you're doing update.

[2016-02-16 01:09] pauldorman commented on #2073
Is this an acceptable workaround? (too chicken to make a pull request at this point):

[code]

[code]

[2016-02-16 03:04] gigafone opened #2091 "java.lang.UnsupportedOperationException:"
Can you help improve the following error message?

If I make the following mistake and try:

[code]

I get:

[code]

Can perhaps leiningen instead give a message along the lines of one of these?

* project.clj not found
* namespace not found: foo

I'm running leiningen 2.6.1

[2016-02-16 03:17] gigafone commented on #2091
A friend told me that he got a reasonable error message on Leiningen version 2.5.3, along the lines of:

[code]

[2016-02-16 03:53] SShrike commented on #2087
Thanks for looking into this! :+1:

IMO, support should either be default with a warning shown when the legacy directory is detected _or_ it should be able to be enabled with an environment variable such as `$LEIN_XDG_ENABLE` (simply using `$LEIN_HOME` would not cut it as the XDG Spec consists of three directories with the intention of splitting out caches, data and configuration).

[2016-02-16 03:58] SShrike commented on #2087
I've realised that I've made no mention of Windows or OS X in my post, a possible extension of this issue could be using the proper directories for all OSes. (E.g. something like %APPDATA% on Windows and `~/Library` on OS X)

[2016-02-16 08:40] Reefersleep commented on #2084
:) No problem.

I could give it a go with adding stuff to the documentation and perform a pull request, trying to keep it in the style of the rest of the documentation. Something like:

Windows

There is an installer which will handle downloading and placing Leiningen and its dependencies.

The manual method of putting the batch file. on your PATH and running lein self-install should still work fo

[2016-02-16 08:42] Reefersleep commented on #2084
Just a suggestion. :)

By the way, I could spend a little time verifying the behaviour, just to be sure. We could also experiment further if you have any ideas.

[2016-02-16 15:13] hyPiRion commented on #2084
That seems like a fine inclusion to me – if you could also add in a small warning in [lein.bat](https://github.com/technomancy/leiningen/blob/0ce5e1ff87976637d8170e3c7f76a3c9e872820d/bin/lein.bat#L21) as well (saying it's deprecated or that you should only use this is you really know what you're doing), then that would be wonderful!

[2016-02-16 15:17] hyPiRion commented on #2087
Yeah – when we decide to go for something like this, we should use best practices all over.

[2016-02-16 15:22] hyPiRion commented on #2091
Woah, yeah, that's just a terrible error message to print out.

If this was better in 2.5.3 then this is a regression, and I believe it shouldn't be too hard to fix this. Perhaps that's even a newbie task.

It may be that the error message came from another place though, in which case it may or may not be that easy to fix it.

[2016-02-16 16:53] Reefersleep commented on #2084
I'll do that! :)

[2016-02-16 17:44] gigafone commented on #2091
It might be the worst I've seen, actually. :)

I changed my `~/.lein/profiles.clj` file to be simply `{}` to rule out any relationship to it and got the same error:

[code]

[2016-02-17 13:20] camdez opened #2093 "`lein deps` fails when Maven repo server responds with 204"
Apologies because I haven't yet found a trivial way to reproduce this, but I ran into this issue when installing dependencies on CircleCI when using Datomic—which, notably, is installed from its own repo requiring authentication, not from a public package repository.

Dependency installation on a fresh server works fine, but when the `.m2` directory is preserved from a previous test run, this issu

[2016-02-17 15:22] owengalenjones commented on #2079
Much apologies, as of today with the exact same setup I had on Monday I'm unable to replicate.

[2016-02-17 15:37] hyPiRion commented on #2079
No worries; feel free to comment if you hit the issue again.

[2016-02-17 16:50] sdegler commented on #2079
I have a plugin that still fails reliably, and it seems to correlate with @owengalenjones 's failure that he listed above.  The plugin uses configleaf, and from the output above, I believe that his does too.

[2016-02-17 22:19] hyPiRion commented on #2079
@sdegler If you could get a minimal reproducible case I'd be happy to take a look at it. Is it simply basic use of configleaf that fails?

[2016-02-17 22:42] #2089 closed

[2016-02-18 00:06] hyPiRion commented on #2093
Hi, thanks for the report!

I did some digging around, and found out that this is an issue with the maven-wagon repository. I've added [WAGON-451](https://issues.apache.org/jira/browse/WAGON-451) to track it.

Since this requires a bit of internal knowledge on aether/maven-wagon, I decided to create the patch apache/maven-wagon#23, which should resolve this issue. I hope that's not a big problem?

[2016-02-18 08:31] camdez commented on #2093
@hyPiRion Wow, impressive turnaround time. :smile: I'm a bit unsure how to test this since it's in a dependency, but it looks sensible.

[2016-02-18 12:11] michael-o commented on #2093
I am about to close the Wagon issue and the PR because the server in question violates the RFC for. Fix your servers.

[2016-02-18 12:36] camdez commented on #2093
@michael-o Unfortunately it's not *my* server, or else I would. I understand your position, but a more useful response might be to cite the RFC in question.

[2016-02-18 13:47] michael-o commented on #2093
Pardon me, here is the quote from RFC 7231:

   send a message body in the response (i.e., the response terminates at
   the end of the header section).  The server SHOULD send the same
   header fields in response to a HEAD request as it would have sent if
   the request had been a GET, except that the payload header fields
   (Section 3.3) MAY be omitted.  This method can be used for obtaining

[2016-02-18 14:51] camdez commented on #2093
@michael-o Not yet. What about this response is out of compliance with the RFC?

[2016-02-18 15:16] michael-o commented on #2093
@camdez Can you rephrase the question. I am not certain I understand the way you intend it to be understood.

[2016-02-18 15:20] camdez commented on #2093
@michael-o I just saw your comments on the wagon issue so you can disregard my previous question.

By the way, I think we had a miscommunication earlier because it looks like you left out a word: "violates the RFC for. Fix...". I wouldn't have asked you to cite an RFC if I had known you were just taking about HTTP.

[2016-02-18 15:27] michael-o commented on #2093
@camdez Sorry for that. You are right. I have updated my comment. Hopefully it is clear now. For the record: I refuse to fix WAGON-451 and pull the PR because the behaviour of the repo server is question violates RFC 7231, section 4.3.2.

[2016-02-18 15:33] camdez commented on #2093
@michael-o Thank you for the clarification. I'm still unclear on your reading of the spec. What do you feel is in violation? I assume you feel a HEAD request should never return a 204, but what leads you to that conclusion? The first sentence?

[2016-02-18 15:39] hyPiRion commented on #2093
@camdez:

Sending the status code 204 implies the GET request would return 204 as well.

[2016-02-18 15:48] camdez commented on #2093
@hyPiRion "The server SHOULD send the same *header fields*" (not necessarily status code).

Considering that Response Status Codes (6) and Response Header Fields (7) are separate top-level sections of the RFC, it seems odd to me to assume the status code is considered a header field without some other reason to do so. Wouldn't you agree? *Is* there some other reason?

[2016-02-18 15:59] hyPiRion commented on #2093
@camdez Oh, you're right, I thought the status code was considered a header field.

[2016-02-18 16:11] camdez commented on #2093
@hyPiRion Thanks for reconsidering.

To be clear, I completely support @michael-o's approach of strictly following the spec. I'm certainly NOT asking that the library be relaxed to handle non-compliant servers. But I think we need to read the spec carefully.

[2016-02-18 16:23] michael-o commented on #2093
@camdez I expect `HEAD` to return the very same status code as `GET` would. Altering it is a bug. Headers are a different story not discussed here. Any status code is fine as long it is served for both request methods equally.

[2016-02-18 16:37] camdez commented on #2093
@michael-o I actually think that is sensible, but is it a requirement of the spec? (If so, where do you find that?)

Alternately, we can approach it this way: you say "[a]ny status code is fine as long it is served for both request methods equally"—as a thought experiment, let's pretend `GET https://my.datomic.com/repo/com/datomic/datomic-pro/0.9.5344/datomic-pro-0.9.5344.pom` returns 204. Then th

[2016-02-18 16:57] michael-o commented on #2093
@camdez I never said that 204 is not valid. The last statement properly rephrases my understanding of the issue. If `GET` returns 204 then `HEAD` must also return 204. Same applies for 200 => 200 and so on. Every status code from 100 to 599 is valid as long as both return the same.

[2016-02-18 17:42] camdez commented on #2093
@michael-o Ok. The client is issuing a `HEAD` request; the server is responding with `204`, which you state is a valid response. Surely this contradicts your original statement that "the server in question violates the RFC for `HEAD`". (The server may well return a `204` for `GET`, right?)

(I do understand that actually issuing / receiving that `GET` response would be problematic from an *applica

[2016-02-18 18:58] michael-o commented on #2093
@camdez Please stop overinterpreting my statements. Again, 204 is a valid response as long as a `GET` would issue a 204 too. You are citing Coyote code from Tomcat 4.x, seriously? If I would issue a `HEAD` to a resource and would receive a 204, I would never reissue a `GET` because I know the content is empty. That is a false conclusion. A 200 is a must in this case. Plain simple.

[2016-02-19 01:13] camdez commented on #2093
@michael-o I'm sorry you feel I'm over-interpreting you statements, it's not my intention. But it looks like you're repeating exactly, what I said above so I'm not sure how it's a mischaracterization:

RE:

I'm not citing Coyote as a miracle of modern computing, I'm citing it because *it's literally what the server is.*

I'm growing tired of this and I'm not going to belabor it because this is not

[2016-02-19 07:28] mneise opened #2095 "Classpath sometimes doesn't include all dependencies when using `lein trampoline`"
Running `lein-cljsbuild` with `lein trampoline` seems to behave inconsistently and sometimes doesn't include all required dependencies in the classpath. This issue has been initially reported in `lein-cljsbuild` (https://github.com/emezeske/lein-cljsbuild/issues/204).

Whenever we compile a ClojureScript project, we modify the project's dependencies to include the recent version of the support pro

[2016-02-19 09:10] michael-o commented on #2093
@camdez

This exactly describes what I would expect from the application.

[2016-02-19 10:46] hyPiRion commented on #2095
Thanks for the report and the reproducible case =)

Trampoline is known to be a bit fragile with multiple tasks, perhaps especially when used in conjunction with plugins. I'll take a look when I got time on my hands, but would obviously be happy if others are interested in looking into this.

As a workaround, would it be sufficient to run `lein do cljsbuild once dev, trampoline repl`, or would tha

[2016-02-19 17:42] EricGebhart opened #2096 "lein 2.6.1 breaks lein-environ with aot compile."
As of this change In leiningen:  https://github.com/technomancy/leiningen/commit/4383caecce94482a57a25146bdd236e89b20f75f

When a project has an :aot compile, instead of writing a  empty `{}`  to the .lein-env file
lein-environ will write  a file like this.

```#=(clojure.lang.PersistentArrayMap/create {})```

More complicated maps can have even more of that.

A `lein compile` when :aot is present

[2016-02-19 20:38] hyPiRion commented on #2096
Thanks for the report =)

This should be fixed with #2082, but I'd also think it would be sensible to prevent it in `lein-edn` and `boot-edn` as well. I'll provide a pull request to the repo during the next hours.

[2016-02-19 20:45] mneise commented on #2095
Yes, you are right, so far I was only able to reproduce this problem when using `trampoline` in conjunction with `do`. But then again, it doesn't fail for all cases, e.g. `lein trampoline do clean, cljsbuild once dev` works fine.

I think it's mostly causing problems for users when wanting to start a ClojureScript REPL with `lein-cljsbuild` in @cursive-ide. You're proposed workaround might be a go

[2016-02-20 21:28] matonthecat commented on #824
Well, it's been a while that I have been running on this type of infrastructure. Have you tried [this](https://github.com/technomancy/leiningen/blob/stable/doc/DEPLOY.md#scp) (add the register call above your project)?

[2016-02-20 22:04] igoroctaviano commented on #2086
The same here, Error: Could not find or load main class User\.lein\self-installs\leiningen-2.6.1-standalone.jar

[2016-02-21 00:32] arichiardi opened #2097 "Refactor-nrepl in :user dependencies -> no tools.reader 1.0.0-alpha3 ?"
This is the weirdest issue ever and most of the "discovery" steps are described in https://github.com/emezeske/lein-cljsbuild/issues/439.

Steps to reproduce:

1. `git clone -b tools-reader-bug https://github.com/Lambda-X/replumb`
2 In your `profiles.clj` add:
[code]
3. In the project launch `lein cljsbuild once dev`.
4. Open `resources/public/js/compiled/out/cljs/tools/reader.cljs` and go to line

[2016-02-21 08:28] danielcompton commented on #2097
`refactor-nrepl` bundles tools.reader as a [source dependency](https://github.com/clojure-emacs/refactor-nrepl/blob/master/project.clj#L12) and uses [mranderson](https://github.com/benedekfazekas/mranderson) to copy it over into it's own source tree. It also munges the names into a private namespace. Looking at the [POM](https://clojars.org/repo/refactor-nrepl/refactor-nrepl/2.0.0-SNAPSHOT/refacto

[2016-02-21 14:05] hyPiRion commented on #2097
Yeah, so I guess this is an issue with mranderson then, and not really with Leiningen itself? With #2094 that would probably be easier to notice, I guess.

[2016-02-21 15:51] Reefersleep commented on #2084
I suppose that the lein.bat warning should go in a comment directly after the comment on line 21 saying
`:: LEIN_JAR and LEIN_HOME variables can be set manually.`
?
I mean, as opposed to `echo`ing it upon LEIN_JAR usage somewhere else.

[2016-02-21 15:54] Reefersleep commented on #2084
I'm thinking
[code]

[2016-02-21 16:09] arichiardi commented on #2097
Maybe the should be a strategies when duplicate files are found on the classpath that gives precedence to the direct dependences..

[2016-02-21 18:16] danielcompton commented on #2097
It's not possible for Leiningen to know which JAR is a direct dependency and which has uberjarred a bunch of files. The only thing you can do is change your classpath ordering by changing which order your plugins are specified. I'm not sure whether :user profile deps always come ahead of project ones though.

[2016-02-21 21:25] hyPiRion commented on #2097
It would be possible to lower the priority of `:user` profile dependencies, but that would change the priority for other keys, which I'm not too fond of doing without some research on its impact. Besides, it would only solve some symptoms, and not the root cause of this issue.

Does it seem reasonable to send out a warning if we notice duplicates of `.clj/.cljc/.cljs` files? It's too expensive to

[2016-02-21 22:22] arichiardi commented on #2097
@hyPiRion The problem is that this was happening on `lein cljsbuild once dev` or `lein doo phantom` so I guess I warning should be thrown in other commands as well.

[2016-02-21 23:16] danielcompton commented on #2097
The issue in this case was that one uberjar (refactor-nrepl) bundled tools.reader, and a user project also specified tools.reader. So the error only occurs when both of those JARs are on the Classpath. The refactor-nrepl people will never get a warning. I think it could be good to add as a `lein deps` command, maybe added to `:tree`. It would scan through all of the namespaces on the classpath, an

[2016-02-21 23:57] hyPiRion commented on #2097
@danielcompton It's not possible to notice duplicate namespaces (turing complete), but we can easily notice duplicate files – this is what we do when we uberjar files. Wouldn't that be sufficient in most cases?

[2016-02-22 00:51] danielcompton commented on #2097
Duplicate file paths might work, but the file content could be different, e.g. tools.reader 0.10.0 in one uberjar, and tools.reader 0.11.0 in user deps. I think that's what you're talking about?

[2016-02-22 05:49] arichiardi commented on #2097
Shouldn't we just exclude :user deps from the build of any uber-kind-of-jar? Maybe it's a bit too extreme but I found (my bad maybe) a bit confusing that bit. I would never have expected that my final artifact would include stuff from there...just a thought

[2016-02-22 09:27] serioga commented on #824
Well, I failed with raw SSH under Windows.
But repository managers like Nexus work fine so I can live with it.

[2016-02-22 09:55] hyPiRion commented on #2084
Yes, that sounds good =)

[2016-02-22 12:39] danielcompton commented on #1319
One option for testing is to use [`mitmproxy`](https://mitmproxy.org/) as an http proxy on a local machine.

[2016-02-22 13:53] RickMoynihan opened #2098 "uberjar task does not include :repositories from ~/.lein/profiles.clj"
I have encountered what I think is a strange behaviour regarding uberjars and dependency resolution of artifacts hosted on private repositories.

Firstly (unsurprisingly) `:repositories` mentioned in your `project.clj` work as expected i.e. running `lein uberjar` and `lein test` etc... will correctly fetch the dependencies from the specified `private-repo`.  (I mention this simply to be clear that

[2016-02-22 15:58] RickMoynihan commented on #2098
Unfortunately adopting the above strategy (using the `:profiles {:uberjar [:private-repos] }` trick appears to break `lein deploy`; so I guess a good way to summarise this ticket is that there doesn't appear to be a way to allow user specific repository configuration that works with the array of lein tasks, in particular `lein test`, `lein repl`, `lein uberjar` and `lein deploy`.

Any help in reso

[2016-02-22 16:30] hyPiRion commented on #2096
The next release of environ should have this resolved (weavejester/environ#49), and as such this is effectively a "duplicate" of #2082.

As such I'm closing this if you don't mind. Feel free to reopen if I've overlooked anything.

[2016-02-22 16:30] #2096 closed

[2016-02-23 15:53] RickMoynihan commented on #2098
I have created a PR that fixes this issue:

https://github.com/technomancy/leiningen/pull/2100

Happy to discuss it further if it's not suitable.

[2016-02-23 22:04] hyPiRion commented on #2098
Just to summarise: We had a discussion on the leiningen channel at the Clojurians slack group. What we found out was that whitelisting seemed to be the most sensible thing to do.

[2016-02-23 22:05] #2098 closed

[2016-02-24 22:56] hyPiRion commented on #2084
Fixed via #2099.

[2016-02-24 22:56] #2084 closed

[2016-02-25 03:45] gspringtech commented on #2073
I have the same problem. Is there a workaround - other than modifying the program as per pauldorman above?

[2016-02-25 19:23] pauldorman commented on #2073
I'm happy to send you the uberjar if that would be helpful.
On 25/02/2016 4:46 pm, "Alister Pillow" <notifications@github.com> wrote:

[2016-02-25 21:09] hyPiRion commented on #2073
Oh, sorry for not replying to this – I must've lost it between other issues.

@pauldorman: Thanks for looking into this further; I am pretty sure the code you've written is good and working as intended. I'll see if I can test this out tonight or during tomorrow to verify though. And don't worry about making pull requests – we won't bite :)

[2016-02-25 22:55] gspringtech commented on #2073
@pauldorman Thanks - but I will wait.

[2016-02-26 01:52] pauldorman commented on #2073
Okay then, I'll try to stop being such a coward :)

[2016-02-26 14:49] hyPiRion commented on #2073
Fixed by #2101

[2016-02-26 14:49] #2073 closed

[2016-02-27 20:09] benedekfazekas commented on #2097
this is now fixed in [mranderson](https://github.com/benedekfazekas/mranderson), see benedekfazekas/mranderson#12 see steps to retest in that issue. let me know if the fix is good.

[2016-02-28 03:24] j-po commented on #686
Gonna give it a shot. This'll be my first open-source Clojure work, though (I use it at work).

[2016-02-28 13:35] hyPiRion commented on #686
@j-po: thanks for looking into this!

If there's anything you wonder about, want to be reviewed or similar, feel free to ask in this issue – or me directly if you prefer that.

[2016-03-02 09:42] QinAIns opened #2102 "Is there a command `leinw`，like `gradlew`?"
Is there a command `leinw`，like `gradlew`? So that I don't need to install the lein command.I just add `leinw` in my project.

[2016-03-02 10:47] hyPiRion commented on #2102
The [`lein script`](https://raw.githubusercontent.com/technomancy/leiningen/stable/bin/lein) should, as far as I know, also work as a "gradlew" script.

[2016-03-02 18:33] jerger opened #2103 "Multiproject build with different source & binary repositories?"
Hi,

I've a multiproject consisting of some thenth of modules bound together ...
Each module is used standalone and has its own releas & version.
Is there a way to e.g. build/release/deploy them all together using some kind of lein masterbuild?

Best Regards

[2016-03-03 10:48] hyPiRion commented on #2103
Hi there!

Leiningen doesn't support this directly, but there might be [plugins](https://github.com/technomancy/leiningen/wiki/Plugins) that could do this.

[2016-03-04 08:03] QinAIns commented on #2102
Thanks! I just add the lein/lein.bat to my root project.
If I run in the Linux OS, run this command:
`./lein run'
It solve.

[2016-03-04 08:03] #2102 closed

[2016-03-04 21:46] winks opened #2105 "Build issue"
While investigating #2104 I did this (Windows, but maybe unrelated):

[code]

Could not find artifact leiningen-core:leiningen-core:jar:2.6.2-SNAPSHOT in clojars (https://clojars.org/repo/)
This could be due to a typo in :dependencies or network issues.
If you are behind a proxy, try setting the 'http_proxy' environment variable.
- So yes, I am in a HEAD checkout of leiningen
- I am running `lein.

[2016-03-07 22:24] agnivalent opened #2108 "Files from :source-path are not recompiled on lein run if previous action's profile used different ones"
After executing a command, that uses different `:source-paths`, than in the env of `lein run` (e.g. `lein uberjar`), classes for sources in `:source-paths` are not being recompilled. Touching sources used by `lein run`, and `lein clean` get rid of the problem. Other options from the profiles seem to work just fine.

Is it intended behaviour?

[code]

project.clj:
[code]

in env/dev/clj/project-nam

[2016-03-08 09:38] hyPiRion commented on #2108
Hi there,

What is the value of the `:target-path`-entry in `project.clj`, if it set?

I am guessing it's possible to make Leiningen confused if `:target-path` does not contain `%s`, and if there are multiple files in different `:source-paths` that represent the same namespace.

Regardless of that: Do you have the configuration in a namespace that differ based on what profiles you've ran/build it

[2016-03-08 16:48] agnivalent commented on #2108
Hi,

Thank you for your answer!

`:target-path` was not set, so I guess it was `target/` by default. Setting it as `target/%s/` fixed the problem.

Regarding config: different config sources in `env/<<profile>>/clj` have the same namespace, and contain a set of ring middlewares, so those can be listed in environ or in some other config file, thank you for suggestion.

The setup I'm using is from [

[2016-03-08 16:48] #2108 closed

[2016-03-10 20:06] danielcompton opened #2109 "Atomic releases"
When using `lein release`, if any of the steps fail, then you can be left with a partially released project. It would be good if leiningen rolled back the changes that it made. This is difficult/impossible in the general case, but just rolling back git commits and tags would cover the 90% use case, for me at least. OTOH this might make things even worse depending on where the user got to in a depl

[2016-03-11 22:41] skrypka commented on #1634
@mattmcd Your solution is working. Except you have a small typo. Second line: ```sudo mkdir /etc/pki/tls/certs```
Thanks!

[2016-03-12 07:29] mattmcd commented on #1634
Thanks, comment above has been corrected.

[2016-03-13 19:39] hyPiRion commented on #2109
This seems related to #2064.

Now that Clojars deployment is atomic, this seems more sensible. Perhaps this/#2064 could be started by telling you how you can manually revert a deploy step, then we can enhance that to actually attempt to revert it later on.

[2016-03-13 22:38] leandromoreira opened #2110 "lein hangs forever on Mac OSX El Capiton"
# Context:

*  OS: Mac OSX El Capiton 10.11.3
*  Lein Version: 2.6.1
*  Java Version: 1.8.0_31 Java HotSpot(TM) 64-Bit Server VM

# Steps to reproduce the issue:

[code]

**I was expecting the server up but it just hangs:**

[2016-03-14 20:12] tvaughan opened #2111 "Problem with :local-repo and lein-plugins in project.clj."
For example:

~/.lein/profiles.clj:

[code]

project.clj:

[code]

After `rm -rf /tmp/local-repo ~/.m2 && lein deps`:

[code]

But:

[code]

If I delete ~/.m2 and run `lein deps` again the lein-plugins listed in project.clj (not ~/.lein/profiles.clj) are downloaded into ~/.m2 even though they already exist under /tmp/local-repo. Why? What am I doing wrong? If I set :local-repo in project.clj this

[2016-03-15 00:11] hyPiRion commented on #2110
I'm unable to reproduce this on 2.6.1, but it took a very long time before the server started, and when it finally started it did not produce any terminal output.

Could you try to verify that the server actually starts by changing the `-main` function in  `src/clj/test/server.clj` from

[code]

to

[code]

and verify that it doesn't produce any output, even if you wait, say, 3-4 minutes?

[2016-03-15 00:42] leandromoreira commented on #2110
@hyPiRion you're right it just doesn't output anything, thanks a lot.

[2016-03-15 00:42] #2110 closed

[2016-03-16 16:28] Malabarba opened #2113 "plugin-additions should not be converted to a hash-map"

[2016-03-16 16:35] Malabarba commented on #2113
In this line: https://github.com/technomancy/leiningen/blob/master/src/leiningen/pom.clj#L251
pluggin additions is converted to a hash-map, but that forces it to have an even number of entries. However, some keys might have multiple values associated with them.

For instance, using the `:pom-addition` notation, I was adding a plugin like this:

    :pom-addition [:build
                   [:plugin

[2016-03-18 22:03] dpsutton opened #2114 "new release including search stall bugfix"
The latest release was 2.6.1 from feb 9. It looks like there was a bug relating to a missing content length header which caused the clojars index building to fail for searching. This was quickly patched and much appreciated.

However, the standard way to install lein from the readme is a bash script which downloads the most recent released version of lein. However, this points to 2.6.1 which preda

[2016-03-19 03:59] jolson88 commented on #2082
I think I'll go ahead and take a look this weekend if that's okay. I've been looking for some projects to contribute to (especially wanting to work more with Clojure). I'll go ahead and ask questions if I have them. I'll look at getting familiar with eval.clj in leiningen-core tomorrow.

BTW, thanks for having the Newbie labels! It's an absolutely fantastic way to find ways to get started contribu

[2016-03-19 12:00] hyPiRion commented on #2082
@jolson88: Thanks! I'm going on vacation for a couple of days tomorrow, so I may be a bit slow to respond. But I believe the issue should be relatively straightforward.

[2016-03-19 18:47] hyPiRion commented on #2114
I think the current changes does not warrant a new release just yet, but I agree that we should release more frequently. I've set the due date for [the 2.6.2 milestone](https://github.com/technomancy/leiningen/milestones/2.6.2) to 31th of March, and I'll do a release before then regardless of how much we've completed.

If anyone wants to help out, then verifying that the windows .bat pull requests

[2016-03-19 20:33] jolson88 commented on #2082
So yes, doing this should be straightforward, but looking into this more I'm wondering if it's the right way forward. I started this research based on trying to understand what would be a breaking change or not before implementing the fix. My concern would be that the usage of *print-dup* seems to be causing several issues and could turn into an ongoing game of whack-a-mole.

As I'm not familiar e

[2016-03-19 21:37] hyPiRion commented on #2082
That's a good timeline of the history of the `*print-dup*`. If it's of any value, I decided to elaborate a bit more what the exact issues were in each part, for context.

The issue at hand here is that we would like to have some option to specify whether `*print-dup*` should be enabled for the forms passed to `eval-in-project`. The reason for this is to ensure that metadata and similar things will

[2016-03-19 22:14] jolson88 commented on #2082
Fantastic! Thanks for the more context 😄. That should give me plenty to put together a pull request. If I run into more questions, I'll let you know 👍.

Sent from my iPhone

On Mar 19, 2016, at 2:38 PM, hyPiRion <notifications@github.com<mailto:notifications@github.com>> wrote:

That's a good timeline of the history of the *print-dup*. If it's of any value, I decided to elaborate a bit more what t

[2016-03-22 00:22] paultopia opened #2115 "Request: warning for clojure version dependency mismatch?"
Recently I came across an interesting bit of minor unfriendliness in Leiningen.  The default project.clj created with lein new set clojure 1.6.0 as a dependency.  I was trying to use core.matrix, and it appears (see note on [this issue](https://github.com/mikera/core.matrix/issues/278) on core.matrix) that library requires clojure 1.7.0 or above (actually, it looks like the current core.matrix pro

[2016-03-22 01:15] paultopia commented on #2115
(incidentally, I'm a bit of a noob, but I'm happy to try to implement this myself if someone can point me to the relevant part of the codebase I'm happy to try to implement this... probably just by something simple like keeping an vector of dependencies, dependencies of dependencies, etc. and then appending a warning message to the end of the build process if anything further down the chain is dif

[2016-03-22 01:29] tvaughan commented on #2111
I'm a bit lost trying to track this down. If you could point me in the right direction, I'll submit a pull-request. Thanks.

[2016-03-22 14:08] cprice404 commented on #2067
Now that the pomegranate patch is in, this is unblocked and I can probably start working on it in the next week or so if that still sounds OK to you, @hyPiRion .

If so, I would probably approach this as two separate PRs.  The first one would simply add support for a `managed-dependencies` section in the `project.clj` directly, without tackling any of the `parent-project` stuff.  The second one wo

[2016-03-24 20:34] tvaughan opened #2117 "Can't use environment variable in an alias."
For example:
[code]

Produces:
[code]

This also does not work:
[code]

The error is:
[code]

But this does work:
[code]

I've been able to use `:env/some_variable` other places in project.clj so the feature does work, just not in an alias or so it seems.

[2016-03-25 20:59] brianmingus opened #2118 "What is a figwheel?"
Inquiring minds need to know.

[2016-03-25 21:06] winks commented on #2118
Maybe it's explained [in the talk](https://www.youtube.com/watch?v=j-kj2qwJa_E).

[2016-03-25 21:06] #2118 closed

[2016-03-27 23:04] amacdougall opened #2119 "Merging of composite profiles should not alter collection type"
Given a project.clj containing this:
[code]
The resulting project map, according to an error message from `doo` and confirmed by `configleaf`, has:
[code]
Most core library functions can cope equally well with lists and vectors, but Clojure still considers them fundamentally different; this can lead to breakage in plugins which are expecting a vector.

To put it another way, profile merging should

[2016-03-28 13:06] djsweet opened #2120 "lein javac sometimes alters the :target-path, sometimes causing class resolution issues"
In cases where `:target-path` is defined with a `"%s"` parameter, `lein javac` alters the `:target-path` by appending `"+xxxxxxxx"`, where `"xxxxxxxx"` is the first 8 characters of the SHA1 hash of the profile map (see [line 446 in `leiningen-core/src/leiningen/core/project.clj`](https://github.com/technomancy/leiningen/blob/2.6.1/leiningen-core/src/leiningen/core/project.clj#L446), I haven't been

[2016-03-28 14:18] hyPiRion commented on #2119
I'd rather not support this before Lein 3, as this will break a lot of plugins. (I've already tried this, you see.)

Rather, plugins should accept sequences instead of vectors.

[2016-03-28 14:22] hyPiRion commented on #2120
Hmm, yeah, that's counterintuitive. Happy to take that patch, but you can assume #2112 will be merged in after I've reviewed it.

[2016-03-28 14:35] amacdougall commented on #2119
Thanks for the response. I realize that it's a gray area—I've also made a PR against the particular plugin that was giving me trouble.

[2016-03-28 14:40] hyPiRion commented on #2119
Yeah, no problem. =) I see the rationale and I agree in principle, but the easiest backward compatible fix for now is to fix it in plugins instead of possibly breaking a lot of existing ones

[2016-03-28 14:58] amacdougall commented on #2119
Cool. I'll close this issue.

[2016-03-28 14:58] #2119 closed

[2016-03-29 21:51] gixxi opened #2121 "colon ":" in project root dir name causes strange compile failures"
Hi,

_Context_

I am running the following configuration

[code]

on Debian.

AOT config is done by defining a main class in project.cli

[code]

_lambdaroyal.vlic.starter.clj_ is located in _src_ folder.

_Symptom_

When cloning my project from github into an explicit target dir, whose name contains a colon _:_ (I know a bit strange)

then both AOT compile (e.g. lein uberjar) as well as (compile

[2016-03-29 23:01] brianmingus commented on #2118
It doesn't appear to be explained in the talk, however, I did figure it out. Since you don't seem interested, I won't bother posting it :)

[2016-04-01 18:40] martinklepsch opened #2122 "Blocking if user namespace derefs a future"
If a `user.clj` is present and it or any of it's required namespaces contain a line like `(deref (future (...))` launching a REPL will block until it eventually times out.

There's a minimal repro here: https://github.com/martinklepsch/user-future-deref-block

[2016-04-01 18:46] hyPiRion commented on #2122
Huh, that's interesting – and very weird. Thanks for the report.

[2016-04-01 19:59] pkan commented on #2079
It is the basic use of configleaf _hook_ functionality that fails.  It hooks `leiningen.core.main/apply-task`, in order to save the project map as a namespace, which is then compiled with the project sources (so that the application's build configuration is available to it at runtime).

Since Leiningen rebinds `*print-dup*` to `true` for the last `apply-task` call, and since configleaf does not bo

[2016-04-02 06:31] royalaid opened #2123 "Uberjarring, Plugins, and SNAPSHOTs"
I have been trying to build a project with `lein uberjar`. When removing the SNAPSHOT tag to build the project lein complains about SNAPSHOTs being included in the build.
My project.clj is

[code]

And below is my profiles.clj

[code]

Running `lein deps :tree` gives me

[code]

and `lein with-profile uberjar deps :tree`

[code]

I am guessing this is a bug but figured I would file an issue and br

[2016-04-02 18:19] hyPiRion commented on #2123
I don't think this is a bug. You're using snapshot plugins, and I'm pretty sure that they are present if you do `lein with-profile +uberjar deps :plugin-tree`.

I think putting the snapshot dependencies into `:dev` or `:repl` would fix this.

[2016-04-02 22:24] royalaid commented on #2123
The only problem with that is I will have to define the emacs plugins in every project. What gets me is why the plugins are being included in an uberjar. The uberjar should just be the files required to run the project and not the build tooling correct?

[2016-04-03 12:53] hyPiRion commented on #2123
The plugins themselves are not included in the uberjar, but any plugin may be used to generate things that gets included in the uberjar – either through hooks, or through modification of `:prep-tasks`. See #1967, perhaps in particular [this comment](https://github.com/technomancy/leiningen/issues/1967#issuecomment-135758790).

[2016-04-03 20:10] royalaid commented on #2123
Thanks for pointing this out! That makes so much more sense. I have tried using dated versions of the plugins and still seems to trip the SNAPSHOT alert. An easy but annoying fix is to just remove nREPL and Refactor. Is there any built in way to override the profile merge? I have poked around on the wiki but didn't find anything leading me to believe so. Adding `{:plugins []}` in my `:uberjar` did

[2016-04-04 20:05] tvaughan commented on #1140
I've just been bit by this, on Linux. I can't get this to work other then by deleting :local-repo from project.clj. Other plugins work fine, but not kibit. Could maybe possibly be related to https://github.com/technomancy/leiningen/issues/2111. However, I'm using a much different setup than the one I mention in the leiningen issue. This is what I have now:

[code]

What's funny is that kibit works

[2016-04-05 09:11] Heliosmaster opened #2124 "Mirror standalone files"
Is it possible to provide some sort of redundancy other than github, for releases / downloading the standalone files?

We are somewhat free from GitHub in our development environment and the (ongoing) outage is hitting us because i can't downgrade my version of leiningen...

[2016-04-05 10:08] winks commented on #2124
pro:
  * GitHub is the SPOF here
  * we could probably get some LE cert and a mirror rotation going

contra:
  * given any homemade mirror solution, GitHub will probably come out on top in terms of reliability
  * who administers the mirror(s) [depending on tradffic I could maybe offer one in Germany]

Maybe one officially blessed backup download url is good enough (and I would support this idea),

[2016-04-05 11:32] hyPiRion commented on #2124
I could administer a mirror without too much hassle, but I would probably need some help on handling multiple sources for the bat script. Patches that would support this feature in both scripts are very welcome.

[2016-04-05 11:57] Heliosmaster opened #2125 "Running uberjar with multiple profiles and autocleaning"
On our build system we were running version 2.4.2 until recently, because we create multiple jars with different profiles:

Our `project.clj` looks like this

[code]

and we ran `lein with-profile bob:tim uberjars`

In recent version of leiningen (2.5.0+), will make
1. create `bob.jar`
2. clean the target folder
3. create `tim.jar`

We "solved" this issue momentarily, by putting `:auto-clean false

[2016-04-05 12:45] technomancy commented on #2124
The reason we didn't host anything on leiningen.org was that originally it didn't have https, but now I have a Let's Encrypt cert on it. It's an option for uberjars.

[2016-04-05 13:38] winks commented on #2124
I like the idea on hosting on a custom domain, but if it's 'just one box' I'm not sure making the availability a lot worse is worth it.

[2016-04-05 14:01] technomancy commented on #2124
Yeah, to be honest if your goal is just to work around GitHub downtime I would recommend an internal mirror. I don't think leiningen.org's uptime will beat GitHub's static file download uptime. Perhaps some kind of fallback scheme would help, but my gut instinct is that it would just complicate things.

[2016-04-05 14:05] winks commented on #2124
yeah,. I'll keep thinking about this.
maybe jsut something like a hardcoded "lein self-install --mirror" or, if possible automatic retry on failure.

[2016-04-05 14:05] Heliosmaster commented on #2124
Well, the whole point would be to eliminate the SPOF. Github + something else would be already really good. The chance of both going down at the same time is tinier than what it is.

[2016-04-05 14:17] hyPiRion commented on #2124
I think it depends on how much effort it is to support this in the scripts. If it's easy to do "oh, unable to fetch from github, let's try this other link", then I think it's at least worthy to consider.

That being said, considering this is the first time (?) this has been considered problematic since summer 2014, it's probably not that important.

[2016-04-05 14:32] technomancy commented on #2124
What if we allowed the self-install URL to be overridden by an environment variable? Then the retry logic could just be pushed out to whatever script is automating the installation of lein in the first place.

    lein self-install || LEIN_UBERJAR_LOCATION=... lein self-install

[2016-04-05 14:50] winks commented on #2124
that's an easy fix we could easily land in the next version, yes

[2016-04-06 19:40] timgilbert commented on #2109
At a minimum, `lein vcs assert-committed` should bail out if it discovers that there are uncommitted changes in the working copy. Right now it tells you changes are not checked in and then goes ahead with the deploy anyways, making its usefulness dubious at best.

[2016-04-09 16:06] neverfox commented on #2066
Yeah, this is frustrating when dealing with any pedantic project, as I have to remove all my usual plugins that might have `org.clojure/clojure` or something similarly common in them.

[2016-04-10 19:01] tvaughan commented on #2111
To follow-up from https://github.com/technomancy/leiningen/issues/1140#issuecomment-205471528, if I run:

    lein new hello-world
    rm -rf /tmp/local-repo ~/.m2

Then modify project.clj like:

[code]

Then run `lein kibit` I get: `Could not find artifact jonase:kibit:jar:0.1.2`. If I remove the local-repo setting, everything works.

[2016-04-10 19:10] tvaughan commented on #2111
Hm. I think this may be two separate issues because eastwood and cljsbuild both work where kibit doesn't when local-repo and plugins are defined in project.clj. However, no plugins defined in project.clj are found in the local-repo when local-repo is specified in the user profile in ~/.lein/profiles.clj.

[2016-04-11 16:12] cprice404 commented on #2067
Linking in initial PR just for posterity: #2126

[2016-04-12 03:14] rterbush commented on #2114
Finding this issue as I am in the same boat with @dpsutton
Trying to get my head around lein and clojure and could sure use a working search...

[2016-04-14 03:16] voj opened #2128 "leiningen.vcs/uses-vcs fails when not in git root"
If a project is not in the git root directory, it is possible to specify

[code]

to point leiningen to the git root. However, this setting is ignored in `leiningen.vcs`.

When detecting which VCS is used, `uses-vcs` looks for the file `.git` in the project's `:root`. However, git will actually store this file in the directory specified by `:scm :dir`.

Example impact:

[code]

A workaround for th

[2016-04-14 11:19] hyPiRion commented on #2128
Yeah, that looks very much like a bug. Happy for patches on this.

[2016-04-20 01:46] vadali opened #2129 ":aot with :prep-tasks does not compile namespaces"
Hey,
If I have `:prep-tasks` key in my project.clj along with `:aot` key, no namespaces are getting compiled:

[code]

and then:

[code]

however, if I remove `:prep-tasks` at all, it works again:

[code]

It doesnt matter if I manually specify the namespaces instead of using `:all`, it still does not work...

WDYT?

[2016-04-20 01:58] vadali commented on #2129
ok, I think I found a solution. It really needs to be documented somewhere though.

if you have have `:prep-tasks` and want to include aot code in it as well, make sure to include the task `complile` too, eg:

[code]

Is this the desired behavior? I totally expected the namespaces to compile..

Thanks,
Shlomi

[2016-04-20 06:12] marionzualo opened #2130 "Typo in tutorial"
In the Uberjar section of the [tutorial](https://github.com/technomancy/leiningen/blob/master/doc/TUTORIAL.md). There are these instructions:

-------
By this point, our `project.clj` file
should look like this:

[code]
---
Those instructions are followed by

---------
Let's try
something easy in `src/my_stuff.clj`:

[code]
-----------------

When running `lein uberjar` as suggested I get an error

[2016-04-20 17:56] tvaughan opened #2131 "exclusions ignored in plugins in profiles?"
If I do something like:

[code]

I still get complaints from `lein deps :tree` and `:pedantic? :abort` that I need to exclude instaparse from ultra.

[2016-04-20 19:52] RasterBurn opened #2132 "task-specific profiles do not allow composite profiles"
Given the following project.clj, I'm unable to get the task-specific profile to behave as expected:

[code]

Note the [composite profile](https://github.com/technomancy/leiningen/blob/master/doc/PROFILES.md#composite-profiles) given for `:repl`.  The expected behavior should be that the initial namespace is `foo.bar`, but when I run `lein repl`, I get the default namespace (note the `user=>` promp

[2016-04-20 21:25] RasterBurn commented on #1151
I'm experiencing this issue as well.  The [documentation](https://github.com/technomancy/leiningen/blob/master/doc/PLUGINS.md#project-middleware) contains an example middleware that uses `merge-profiles` which will cause this infinite recursion:

[code]

[2016-04-21 11:34] pkalliok commented on #1857
Which leiningen is supposed to have this fix?  I'm running leiningen 2.5.3 and I still see the same issue.
$ lein --version
Leiningen 2.5.3 on Java 1.8.0_72-internal OpenJDK 64-Bit Server VM

[2016-04-24 13:09] phillord opened #2133 "Lein check crashes ungracefully when a file has malformed lisp in it."
To reproduce create a new project with lein new, replace the entire contents
of core.clj (including namespace) with a single character "{", type lein check
-- this error results.

[code]

This happens with both the current release and trunk. It's possible to get a
variety of other errors from the lisp reader depending on the exact contents
of the file. In no case is there anything informative abou

[2016-04-24 20:51] Allaman opened #2134 "lein repl crashes after running seesaw function"
Hello,

see below for a small sample project using seesaw. After starting the function in the repl with `lein repl` and closing the application window the repl throws following error:
[code]
Leiningen 2.6.1 on Java 1.8.0_77 Java HotSpot(TM) 64-Bit Server VM

project.clj
[code]
core.clj
[code]

[2016-04-25 12:16] djpowell commented on #1722
+1 would like to see this fix applied, else it isn't possible to use plugins from my work environment

[2016-04-25 18:13] hyPiRion commented on #2134
Hi!

If you remove `:on-close :exit` as arguments to the frame function, this should work fine.

[2016-04-25 18:42] #2086 closed

[2016-04-26 07:41] Allaman commented on #2134
@hyPiRion You are right! Without `:on-close :exit` the repl is not crashing anymore! Thanks!
Do you know why? I mean this is the example from seesaw's github page that I would expect to run ;)

[2016-04-26 07:41] #2134 closed

[2016-04-26 09:30] hyPiRion commented on #2134
I am guessing `:on-close :exit` runs something à la `(System/exit 0)` or similar, stopping the JVM process. That would make the connection via Leiningen dead, which causes that error.

The example in the readme seems to mention `lein run -m` instead of `lein repl`, but yeah, I'd expect to have something which could be run in the repl from a readme. Perhaps you should ask how one would do idiomatic

[2016-04-27 13:59] vermiculus opened #2136 "lein.bat cannot download standalone jar: 403 forbidden"
[`bin/lein.bat`](https://github.com/technomancy/leiningen/blob/master/bin/lein.bat) fails with 403-Forbidden:

[code]

Also reproducible with chocolatey which downloads/runs `https://raw.github.com/technomancy/leiningen/2.2.0/bin/lein.bat`.

[2016-04-27 14:52] winks commented on #2136
Hi,
you're trying to use the `lein.bat` from Github's master branch - there is no release JAR for this version. Please use [stable/lein.bat](https://raw.githubusercontent.com/technomancy/leiningen/stable/bin/lein.bat) - this should work.

And for the other one.. 2.2.0 is very old, I'll see who we have to poke there to get a newer version into chocolatey.

[2016-04-27 14:58] vermiculus commented on #2136
Ah, thanks a ton!

And yeah -- wow. Chocolatey does need to be updated... such is life on Windows, I suppose.

[2016-04-27 14:58] #2136 closed

[2016-04-27 15:02] winks commented on #2136
Filed a bug, trying to keep track: https://github.com/Iristyle/ChocolateyPackages/issues/58

[2016-04-28 17:46] alexhall opened #2137 "Exceptions thrown by fixtures can cause lein test to hang"
When test fixtures throw exceptions, they are uncaught by both `clojure.test` and the testing form generated by `lein test`. This causes the main thread in the test process to terminate, but if agents are in use then the agent executor service (or anything else that spawns a non-daemon thread) prevents the test process from terminating, thus causing `lein test` to hang forever.

See https://github

[2016-05-01 22:59] howdoicomputer commented on #2028
@winks That works.

[2016-05-01 23:02] howdoicomputer opened #2139 "403 denied for `lein self-install`"
[code]

Windows 10

[2016-05-02 07:37] winks commented on #2139
@howdoicomputer which `lein.bat` version did you download and run?

[2016-05-02 17:01] deas commented on #1515
I am seeing a somewhat similar issue on Linux today. Leinigen 2.6.1 on 1.8.0_03-Ubuntu-8u77-b03-3ubuntu3-b03 - on two machines. Removing the index files does not help.
`
➜  ~ lein search lein-template
Updating the search index. This may take a few minutes...
Downloading https://repo1.maven.org/maven2/.index/nexus-maven-repository-index.properties
100.0% complete
Downloading https://repo1.maven.org

[2016-05-04 14:13] hanshuebner commented on #1722
+1

[2016-05-04 21:28] csakoda opened #2140 "Should warn about ignored forms appearing in `profiles.clj`"
I was hitting an issue building uberjars in a project I work on.

The error, for reference, was
[code]

The issue turned out to be I had a legal `~/.lein/profiles.clj`, but the relevant section (`:uberjar`) was *outside* the closing bracket.  It took me a bit of digging to notice that, future users of leiningen might appreciate a warning about ignored garbage detected after the first form in `prof

[2016-05-05 11:50] howdoicomputer commented on #2139
@winks I ended up solving my problem. I was using the version packaged in the [Chocolatey 'repository'](https://chocolatey.org/packages/Lein).

I solved it by curling the batch script from the `2.6.1` release, setting my `HTTP_CLIENT` variable, and running self-install.

[2016-05-05 13:15] howdoicomputer commented on #2139
I'll close this issue since I'm pretty sure it's a duplicate. Odd that I didn't find it in the search. I also see you're pursuing avenues for dealing with the outdated package on Chocolatey. I was looking into that as well. Sorry that I created noise.

[2016-05-05 13:15] #2139 closed

[2016-05-05 13:17] winks commented on #2139
No worries, thanks for  following up.

[2016-05-08 04:33] marknsikora opened #2141 "with-profile not honouring excluded plugins"
The `with-profile` command is not honouring the plugins part of a profile when the profile is excluded. Simple test example, lein-protobuf compiles a local copy of the protobuf compiler so it outputs the compile process when included.

[code]

The dep tree indicates that it is not used.

[code]

But if a test or run is performed then plugin is installed.

[code]

[2016-05-09 20:49] disalvjn opened #2143 "Windows - Lein.Bat - Bad ClassPath If Space in Username (e.g. "Users\new user")"
Edit: Looks like someone already noticed this https://github.com/technomancy/leiningen/pull/2106

[This commit](https://github.com/technomancy/leiningen/commit/e4d3c1e56c9310045da2ca203c463c5f184fac29) removed quotes:
` set CLASSPATH="%LEIN_JAR%" `
->
`set CLASSPATH=%LEIN_JAR% `

For reasons beyond my control, my username is "new user", so my lein path looks like "C:\Users\new user\.lein\.." I fou

[2016-05-09 20:53] #2143 closed

[2016-05-09 22:19] johnstt commented on #1634
I'm having this problem now with a Docker image based on [this](https://hub.docker.com/r/jupyter/scipy-notebook/), which uses some build of Debian 8. The posted answers have not made the download any faster (it hovers around 50kbps), but they _have_ made it stop failing..

Does it seem weird to anyone else that an SSL cert setup problem decides _whether something downloads quickly or slowly_ (not

[2016-05-16 18:45] michael-o commented on #244
To whom it may concern: https://issues.apache.org/jira/browse/MNG-5567

[2016-05-18 05:42] sfnelson opened #2145 "JVM_OPTS parsing incorrectly adds trailing spaces to arguments"
When the `JVM_OPTS` shell variable includes multiple spaces between arguments, the `get-jvm-opts-from-env` function incorrectly adds trailing spaces to the previous argument. For example:

[code]

After parsing:

[code]

This is obviously incorrect, and unfortunately very confusing (trailing whitespace is very hard to see in exceptions). The issue is caused by incorrect parameter accumulation in t

[2016-05-20 20:07] techwhizbang opened #2147 "entries in ~/.lein/profiles are ignored"
I have a ~/.lein/profiles.clj file locally as well on my CI servers.

I just upgraded to Leiningen 2.6.1 and was previously using 2.3.3. The :manifest section of ~/.lein/profiles.clj file adds some basic info to the manifest section of the jar.

[code]

The manifest is ignored and does not appear in the unzipped version of the application jar META-INF/MANIFEST.MF

This is reproducible with a vanil

[2016-05-22 04:30] njiang8 opened #2148 "cannot run install script"
So I got this issue when trying to install lein
[code]

I've looked at all the related problems with this error message but still have no clue... I tried manually download the zip file and put it in `~/.lein` but the prolem still exists
Thanks in advance

[2016-05-22 08:57] winks commented on #2148
Have you tried to put the zip in the folder `/Users/nanjiangjiang/.lein/self-installs/` but use `leiningen-2.6.1-standalone.jar` as the filename?

(It's a Github limitation as far as I know, we download a .zip and then rename it to. jar)

[2016-05-22 20:43] njiang8 commented on #2148
That works! Thanks

[2016-05-22 20:43] #2148 closed

[2016-05-23 07:04] tommyettinger opened #2149 "Java 9 incompatibility"
Due to restructuring in the JDK's internal-use packages, `sun.misc` is very different in Java 9, and much of it is not available due to the "Project Jigsaw" modularization of the JRE actually making internal-use packages internal. This affects Lein because, at the bare minimum, `sun.misc.Launcher` is used even when running the command `lein` with no args. This class, `Launcher`, is likely being re

[2016-05-23 12:11] slipset opened #2150 "Better error reporting"
@bhauman writes in http://rigsomelight.com/2016/05/17/good-configuration-feedback-is-essential.html about the importance of good feedback from our tools.

Running lein on a project.clj with a misspelled `dependencies` key does not lead the user in the correct direction.

Would you be interested in a PR which tries to make error-messages more user friendly?

[2016-05-23 18:48] techwhizbang commented on #2147
Actually this is not limited to the :manifest key, it seems to affect :target-path, :compile-path, :mirrors, :repositories, etc. I've also tried several incantations of these entries with and without the ^:replace and ^:leaky meta to no avail.

[2016-05-23 18:50] techwhizbang commented on #2147
Unless of course there is some new way to make these changes to take effect that isn't documented according to what is here: https://github.com/technomancy/leiningen/blob/master/doc/PROFILES.md

[2016-05-23 20:30] techwhizbang commented on #2147
As I scan the list of other open issues there seems to be quite a pile up of similar issues.

#2057
#2058
#2059

[2016-05-25 15:43] fractaloop commented on #2147
This bug is a blocker for me as well. :+1:

[2016-05-26 08:29] sctianwei opened #2151 "lein 2.6.1 not work behind proxy"
lein 2.6.1 cannot download dependence while running behind proxy.
I've set system property as:
http_proxy=http://username:password@proxy:port
https_proxy=http://username:password@proxy:port
and the error is: Not authorized by proxy , ReasonPhrase:Proxy Authentication Required. it seems that lein have used the host and port, but not use the username and password.

[2016-05-27 19:26] mkno commented on #1349
@sarnowski suggestion to not delete the user-agent from gpg.conf like someone above suggested did it

[2016-05-29 04:25] nzey commented on #2131
Same situation here, running `Leiningen 2.6.1 on Java 1.8.0_65 Java HotSpot(TM) 64-Bit Server VM`

[2016-05-30 04:46] pbsladek commented on #2073
I'm getting the same error. Can we reopen this?
Leiningen 2.6.1 on Java 1.8.0_92

lein search ring
Updating the search index. This may take a few minutes...
Downloading https://clojars.org/repo/.index/nexus-maven-repository-index.properties
^\2016-05-29 21:27:20
Full thread dump Java HotSpot(TM) 64-Bit Server VM (25.92-b14 mixed mode):

"Index-BottleWarmer-clojars" #15 daemon prio=5 os_prio=31 tid

[2016-05-31 04:45] chmeee commented on #2073
Same issue for me on Arch: 'aur/leiningen 1:2.6.1-3' and 'extra/jdk8-openjdk 8.u92-1'.

[2016-05-31 19:15] pietromenna commented on #2053
Is this still an issue?

[2016-05-31 21:10] weissjeffm commented on #1876
I seem to be having the same issue with lein 2.5.3. Any suggestion or workaround would be much appreciated!

[2016-06-01 12:11] qianyan opened #2153 "How to know what profiles are activated with each task?"
from this quoted comment, I am really confused how to know what profiles are activated by default for each task? for example: if I run `lein run`, what profiles are activated?

[2016-06-03 23:29] alexakarpov commented on #2073
also seeing this on Ubuntu/Leiningen 2.6.1 on Java 1.8.0_74 Java HotSpot(TM) 64-Bit Server VM

[2016-06-06 09:18] a1exsh opened #2156 "lein vcs assert-committed is broken"
Preconditions:
[code]

Setup:
[code]

[code]

[code]

Observation:
[code]
Expected: no OK message, `Uncommitted changes in ...` reported.

Observation:
[code]
Expected: no OK message, `Uncommitted changes in ...` reported.

[2016-06-07 04:31] 3duard0 commented on #2082
@hyPiRion I didn't know if jolson88 was still working on this issue, so I decided to give a try.
I hope everything is okay, I don't have much experience on opensource.

[2016-06-07 15:26] benalbrecht commented on #2147
i'm having the same issue with the :local-repo key
version 2.5.3 seems to work fine

[2016-06-09 04:11] 3duard0 commented on #2091
Added PR to fix this issue, more details about the issue on the PR.

[2016-06-09 10:56] lambda-ai opened #2158 "LEIN_HOME not used to resolve .m2 dir for plugins"
Hi,

when building on our CI server, the process can't write in the user's home directory, which was no problem for the build up to now, since I set LEIN_HOME to a location that could be written to. However, when adding the environ plugin, I again got the same issue, and I can't see any variable to set to avoid this.

[EDITED:]
I initially thought the local-repo mechanism was working, but that's n

[2016-06-09 22:31] jolson88 commented on #2082
Thanks 3duard0! unfortunately, I've had no time. So I'm glad you picked it up :).

[2016-06-10 04:04] 3duard0 commented on #2156
Yes, it seems to be broken.

The error was introduced by the fix of error #1857 at this commit: c35a1de4f0b45365a97e6e54c1eba309b45b7f46

The function `eval/sh` is not piping output from `*out*` anymore, instead it is piping from `System/out`.  `with-out-str` when called with `eval/sh` as parameter is returning empty string, thus failing to match `git status` output.

That's all I've found about t

[2016-06-10 04:44] 3duard0 commented on #2156
@hyPiRion I've added a fix for this, but I'm still new to clojure, if anything is not okay I'll be glad to correct.

[2016-06-11 01:53] kat-co commented on #2073
Also seeing on Ubuntu/Leiningen 2.6.1 on Java 1.8.0_91 Java HotSpot(TM) 64-Bit Server VM

[2016-06-11 12:06] jiacai2050 opened #2160 "Could not find artifact leiningen-core:leiningen-core:jar:2.6.2-SNAPSHOT in clojars"
Could not find artifact leiningen-core:leiningen-core:jar:2.6.2-SNAPSHOT in clojars (https://clojars.org/repo/)
This could be due to a typo in :dependencies or network issues.
If you are behind a proxy, try setting the 'http_proxy' environment variable.

It seems there is no this version in [clojars](https://clojars.org/repo/leiningen-core/leiningen-core/)

[2016-06-11 12:14] winks commented on #2160
Could it be that you are using `lein`/`lein.bat` from git HEAD?

Please try using the released version: [lein](https://raw.githubusercontent.com/technomancy/leiningen/stable/bin/lein) / [lein.bat](https://raw.githubusercontent.com/technomancy/leiningen/stable/bin/lein.bat)

[2016-06-11 14:49] jiacai2050 commented on #2160
Yes, I tried to build leiningen from git HEAD, I want to know how leiningen is developed, to be exactly, the workflow  leiningen dev team  used

[2016-06-12 01:46] ChromoX commented on #2073
Seeing this on Mac OS X 10.11.5/Leiningen 2.6.1 on Java 1.8.0_74 Java HotSpot(TM) 64-Bit Server VM

[2016-06-12 07:18] winks commented on #2160
Ok, sorry, in that case you should look at [CONTRIBUTING](https://github.com/technomancy/leiningen/blob/master/CONTRIBUTING.md#bootstrapping)

Basically you need to build leiningen-core first, then leiningen

[2016-06-12 09:48] jiacai2050 commented on #2160
Thanks, I didn't find it at first.

[2016-06-12 09:48] #2160 closed

[2016-06-15 10:37] rationalism opened #2161 "lein deploy doesn't support :classifier parameter"
From lein help, the arguments for lein deploy are:

Arguments: ([] [repository] [repository identifier version & files])

It looks like there's no way to deploy a package with both a version and a :classifier keyword, as in this example from https://github.com/technomancy/leiningen/blob/master/sample.project.clj:

:dependencies [[org.jclouds/jclouds "1.0" :classifier "jdk15"]]

I worked around thi

[2016-06-19 08:39] hyPiRion commented on #2121
Yeah, this sounds strange. Guessing this has to do with the classpath, as it uses colon for separators.

Not sure how high I would prioritise this one, it's easily avoidable and happens rarely. But it's a bug and I'll be happy to take patches for this.

[2016-06-19 08:46] hyPiRion commented on #2125
Sorry for the delayed response here.

Yeah, I agree that this is a bit counterintuitive. I guess the easiest solution is to keep using `:auto-clean false`. Uou could also use plugins to move the file out of the `:target` directory, but I guess that would require more effort.

[2016-06-19 08:56] hyPiRion commented on #2123
As I got back to this issue, I was trying to reproduce this one 2.6.1 and wasn't able to.

Either way, I think `lein with-profile -user uberjar` could do it.

[2016-06-19 09:05] hyPiRion commented on #2130
Yeah, that was indeed a bug in the documentation. Thanks for pointing it out!

I thought it was more sensible to add in the default namespace that the `lein new app my-stuff`-template generates to avoid confusion, so I changed it into `my-stuff.core` instead.

[2016-06-19 09:06] #2130 closed

[2016-06-19 09:10] hyPiRion commented on #2133
Yeah, I agree that this is terrible UX. Happy to get this fixed or improved in some way, because this can easily be confusing.

[2016-06-19 09:12] hyPiRion commented on #2140
Yeah, agreed that this could be improved when reading profiles.

[2016-06-19 09:15] hyPiRion commented on #2147
Yeah, this is annoying and could be the cause of the other issues you mentioned.

[2016-06-19 09:19] hyPiRion commented on #2158
Hi there!

I think I need some more information here: Do you think you could pinpoint what the exact issue is? Is the issue itself that `LEIN_HOME` doesn't work properly, or that leiningen somehow decides to write in the user's home directory regardless?

[2016-06-19 09:22] hyPiRion commented on #2153
Yeah, this is poorly documented, and is often messes with the developer's expectations.

I think we should write it up, but I'm interested in getting this way simpler for 3.0.

[2016-06-19 09:32] mathiasdw commented on #2158
Hi!

I tried to find the code where the mvn cache is resolved, but no luck. Maybe it's in one of the dependencies? Anyway, LEIN_HOME works fine for normal dependencies. It's just that the plugins (for me it was lein-environ) ignore it, and try to write to the user home dir.

[2016-06-19 10:05] hyPiRion commented on #2158
Ah right, that's probably the issue: It's stored in `$HOME/.m2`. It should in theory be overridden with `:local-repo`, as you said. For example, if you have this in `$LEIN_HOME/profiles.clj`:

[code]

then that should place the dependencies in `"/my/path/here"` (That works at least on my machine)

[2016-06-19 10:10] hyPiRion commented on #2137
Fixed by #2138.

[2016-06-19 10:10] #2137 closed

[2016-06-19 10:42] #2145 closed

[2016-06-19 10:50] hyPiRion commented on #2145
Looks good, thanks! =)

[2016-06-19 11:17] #2128 closed

[2016-06-19 11:30] winks commented on #2121
Hmm, I'm not 100% sure, but : in file or directory names usually breaks on Windows anyway.
So unless there's some trick I haven't heard of, this will not work on Windows.

[2016-06-19 13:41] hyPiRion commented on #2082
Fixed by #2082

[2016-06-19 13:41] #2082 closed

[2016-06-19 14:07] mathiasdw commented on #2158
Hi,
yes, I tried that as well, and again that worked for the normal dependencies, but not for the plugin.

[2016-06-19 14:13] hyPiRion commented on #2158
alright, then it seems like the plugin dependencies doesn't honor the :local-repo key.

[2016-06-19 16:51] royalaid commented on #2123
I found a workaround. By using CIDER's dependency injection call at the command line you can just avoid having to include the deps in your profile and uberjarring works just fine.

[2016-06-19 22:29] pauldorman commented on #2073
I was going to have a look into this but things are working fine with the 2.6.2-SNAPSHOT. Is there still a problem for 2.6.1? I can't easily check as the snapshot release updated all my indexes and my 2.6.1 version doesn't currently need to update (afaik).

[2016-06-20 08:04] hyPiRion commented on #2073
Sorry for the radio silence here, @pauldorman's fix (#2101) is working as intended, it just hasn't been deployed yet.

[2016-06-21 19:32] damianrr opened #2162 "Upon lein installation I run `lein repl` and got 405 HTTP code when it tries to get the packages from repo"
Hi all,
Upon lein installation I run `lein repl` and got 405 HTTP code when it tries to get the packages from repo.
The traceback is this one:

Could not transfer artifact org.clojure:tools.nrepl:pom:0.2.12 from/to central (https://repo1.maven.org/maven2/): Failed to transfer file: https://repo1.maven.org/maven2/org/clojure/tools.nrepl/0.2.12/tools.nrepl-0.2.12.pom. Return code is: 405 , ReasonPhr

[2016-06-22 00:39] 3duard0 commented on #2132
This indeed seems to be a bug, one workaround for now is setting `^:repl` in your `:repl` profile declaration.

So it looks something like this:
[code]
Since commit e946ad112fb85c8df7cee854b7bff005ba4428ad repl task merge profile checking for ^:repl as metadata. If `:repl` profile is a map this metadata is set by default, if it's a collection it's not being set.

[2016-06-22 02:16] 3duard0 commented on #2132
@hyPiRion I've added a commit on my fork referencing this issue, is that an okay solution or should I approach in another way?

[2016-06-22 12:44] gtzampanakis opened #2163 ""Could not transfer artifact org.clojure:tools.nrepl:pom:0.2.12" when running "lein repl""
On `centos-release-6-5.el6.centos.11.1.i686` I followed the instructions:

[code]

But then when trying `lein repl` I get the error below. I don't have any network connectivity issues as far as I can tell (i.e. If I run `wget https://repo1.maven.org/maven2/` the command completes without errors).

[code]

[2016-06-22 13:08] winks commented on #2163
Just tried to reproduce on centos 6.7 with openjdk 1.7 - it worked.

I do have some faint memory of keystore issues on several versions of distros, not sure if any of those tickets is related: [list](https://github.com/technomancy/leiningen/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Assl%20)

[2016-06-22 13:09] cprice404 commented on #2163
The `java.security.KeyException` indicate an ssl error when trying to communicate with the HTTPS server via Java.  This could be because you need to update the JDK, or some other package (I've had jvm SSL issues occur when I had old versions of the `nss` package before).  You might just try running a `yum update` to update all of your packages and then see what happens.

You should also check your

[2016-06-22 13:49] gtzampanakis commented on #2163
Running `yum update nss` fixed the issue. Thanks @cprice404 .

[2016-06-22 13:49] #2163 closed

[2016-06-22 22:12] cprice404 commented on #2067
@hyPiRion I know you're busy, and I'm still working on getting help w/review from my co-workers.  So no sweat if you don't have time to respond to this for a while... but... I started looking at implementing the "parent" project portion of the features described here, and, if we merged my current PR that adds support for the "managed-dependencies" section, it looks to me like the "parent project"

[2016-06-23 16:59] hyPiRion commented on #2067
@cprice404: I would prefer to eventually get it into core, as managed-dependencies/parent-project is part of dependency management. However, we're in no rush of doing that, and if it's easier to make it as a middleware-plugin then we can start out there.

[2016-06-23 17:21] cprice404 commented on #2067
@hyPiRion cool.  I'm thinking that maybe doing it as a plugin for now would be smart since it would allow us to tinker with APIs and stuff before committing to anything permanent in the core.  Of course, for that to be a tractable path, we'd need to be willing to do a lein release that contains the managed_dependencies part on its own first.

I have a branch of the existing lein-parent plugin now

[2016-06-23 17:21] cprice404 commented on #2067
Also, some day if we cross paths at a clojure conference or something, I would like to buy you a beer or three :)

[2016-06-27 03:53] firesofmay commented on #686
Is this already done? I can see a commit but this issue is still open.

[2016-06-27 05:03] j-po commented on #686
It's not yet, sorry. My life got complicated and I haven't gotten s chance
to finish it.

On Sun, Jun 26, 2016, 20:53 Mayank Jain <notifications@github.com> wrote:

[2016-06-27 17:27] sdegutis opened #2166 "`lein uberjar` does not respect :target-path, and deletes development target files"
**Steps:**

* `lein new hello-world`
* `cd hello-world`
* `mkdir tmp`
* Add `:target-path "tmp/target/%s/"` to `project.clj`
* `lein repl`
* Meanwhile, in another tab: `lein uberjar`

**Expected:**

After all these step, there should be two dirs under `tmp/target`:

- `base+system+user+dev`
- `uberjar`

**Actual:**

There's only `uberjar` now.

**Potential confusion on my part:**

I was setting `:

[2016-06-27 17:45] sdegutis commented on #2166
Justin Smith on IRC has logged his verification of this unexpected behavior:

https://gist.github.com/noisesmith/8487c8a806e135d1f478592e6c9b5bed

[2016-06-27 19:10] cprice404 commented on #2166
I think that what you are observing is expected behavior, based on the default value of the `:auto-clean` setting: https://github.com/technomancy/leiningen/blob/49abe1108599a82d4bad6cfb40a320295f0ebd99/sample.project.clj#L390-L393

There is some discussion in #1642 and #1798 , but basically any task that ends up invoking `jar` is also going to invoke `clean`, which will wipe out everything in your

[2016-06-27 19:34] sdegutis commented on #2166
@cprice404 Thanks. That sounds like it fixes half of it. Is it possible to clean just the `uberjar` target somehow?

[2016-06-27 20:02] hyPiRion commented on #2166
It doesn't sound like a bad idea to have `uberjar`/`jar` only clean the directory(/-ies) it's going to build in, but I believe this unfortunately is tricky to do properly. Plugins may add in extra directories into `:clean-targets` which are used for uberjar creation, and users may not use "%s" in their `:target-path`s.

[2016-06-27 21:16] MattDMo commented on #2073
I may be missing something, but how does one use the current code in master? I downloaded `https://github.com/technomancy/leiningen/blob/master/bin/lein`, made it executable, and ran it, but got this error:

[code]

I'm not behind a firewall or proxy, my certificates are fine, and libssl is up to date. lein v2.6.1 works just fine, except for the search feature, which is how I found myself here. I

[2016-06-27 21:24] cprice404 commented on #2073
@MattDMo check out the [CONTRIBUTING.md](https://github.com/technomancy/leiningen/blob/5562b5e98a04450de8d25b090a1e5e8e31d647a1/CONTRIBUTING.md#bootstrapping) docs; you probably just need to go into the `leiningen-core` directory and run `lein bootstrap`.

[2016-06-27 21:31] MattDMo commented on #2073
@cprice404 Ah, the one file I *didn't* read :grimacing: I misread the name as CONTRIBUTORS.md and figured it was just a list of names. Many thanks, I think I'm all set now.

[2016-06-27 23:19] sdegutis commented on #2166
Thanks. Solved.

[2016-06-27 23:19] #2166 closed

[2016-07-05 15:04] nonnymoose opened #2167 "Building LightTable fails with lein error: "Could not transfer artifact..." on armhf"
I am trying to compile [LightTable](https://github.com/LightTable), which uses the `lein cljsbuild once app` command to build their project. Lein returns the following error:

[code]

As far as I can tell, I am _not_ behind a proxy, and I have tried it more than once.
@kenny-evitt says:

Any help would be appreciated, and I would be happy to modify my configuration myself if necessary.
The related

[2016-07-05 16:04] beniwtv commented on #2167
Seeing the same problem here when trying to build PuppetDB:

[code]

This is on an ARM v7 machine running Ubuntu 16.04 LTS.

[2016-07-08 20:23] carrete commented on #2158
See also https://github.com/technomancy/leiningen/issues/2111 and possibly related https://github.com/technomancy/leiningen/issues/2131

[2016-07-10 12:33] axg-vivo opened #2168 "First time running "lein repl". Non stop crashing."
Have reinstalled java and re downloaded the script a number of times. A very annoying problem keeping me from working with Clojure. Only downloaded the script and enabled it for running. Ubuntu 16.04
Running java -version:
`java version "1.8.0_91"
Java(TM) SE Runtime Environment (build 1.8.0_91-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.91-b14, mixed mode)`

lein -version:
`Leiningen 2.6.1 o

[2016-07-10 16:13] winks commented on #2168
Does [this issue](https://github.com/technomancy/leiningen/issues/2163) help?

[2016-07-10 16:13] winks commented on #2162
Does [this issue](https://github.com/technomancy/leiningen/issues/2163) help?

[2016-07-10 18:09] axg-vivo commented on #2168
The distro is fully updated as far as I know, so can't simply update nss. Already fully reinstall openjdk-8 to oracle-java8 to no effect. This has been going on for weeks, but I took a break from trying to fix it. What are some dependencies I should check or reinstall and what could be a possible culprit. This whole issue is very perplexing since I have basically not done any work with clojure as

[2016-07-10 19:23] winks commented on #2168
Trying to reproduce.
So far, openjdk-8-jdk-headless seems to work fine:

[code]

[2016-07-10 19:42] winks commented on #2168
Also with Oracle's JDK

[code]

[2016-07-10 20:18] axg-vivo commented on #2168
Well it seems identical in that case. What could be an issue at stake here?

Linux isidio 4.4.0-28-generic #47-Ubuntu SMP Fri Jun 24 10:09:13 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

and my java version is the same as the one you test. I really appreciate the effort. What could be a possible issue with this? My current Ubuntu install was upgraded from 15.10 to 16.04, maybe there is some discrepanc

[2016-07-10 21:05] winks commented on #2168
a) are you behind a proxy?
b) can you try `curl -v https://repo1.maven.org/maven2/`
c) can you try `LEIN_JAVA_OPTS="-Djavax.net.debug=SSL" lein repl`

[2016-07-10 21:14] winks commented on #2168
Maybe `dpkg-reconfigue ca-certificates` also helps.

[2016-07-10 21:19] hyPiRion commented on #2168
I've had issues with this on ubuntu before, sometimes the certificates aren't properly setup.

[code]

seems to usually resolve the issue.

[2016-07-10 21:30] axg-vivo commented on #2168
`curl -v https://repo1.maven.org/maven2/`

`LEIN_JAVA_OPTS="-Djavax.net.debug=SSL" lein repl`

`dpkg-reconfigure ca-certificates`

`sudo update-ca-certificates -f`

I have no idea what could be causing this anymore. These commands seemed to execute properly but the issue remains. This is what I continue to get when running a simple `lein repl` (it hangs on that last line and I terminate with `C-c`

[2016-07-11 06:29] axg-vivo commented on #2168
Ended up doing a clean reinstall of the system. Thankfully everything is easy and understandable to setup with my linux setup. No problems this time around. Thanks for all the help in trying to find a possible culprit.

[2016-07-11 06:29] #2168 closed

[2016-07-11 11:57] hyPiRion commented on #2168
Thanks for being patient :) If you end up with this issue again, feel free to reopen.

[2016-07-12 19:14] cprice404 opened #2170 "Tests failing related to clojars-ssl-cert"
After the most recently merged PR, [travis is failing](https://travis-ci.org/technomancy/leiningen/jobs/144248991) with the following error:

[code]

That sounds like the clojars server cert may be expired?  Which could theoretically explain some of the other SSL-related issues people have been running into lately?

I will attempt to look into it further but if anyone knows more about this error t

[2016-07-12 19:34] hyPiRion commented on #2170
As discussed on IRC:

[code]

[2016-07-12 19:42] cprice404 commented on #2170
The FAQ indicates that leiningen packages the clojars cert for use as a client cert, so we opted to keep the test around as a reminder that that cert will need to be updated periodically.

[2016-07-12 19:59] #2170 closed

[2016-07-12 21:43] winks commented on #2151
@sctianwei Sorry to get back so late only, but I just tried to reproduce this.

I am running leiningen 2.6.1 and used Squid 3.1.20-2.2+deb7u5 on Debian wheezy.

[code]
[code]

[code]

So my questions are:

a) have you tried without prefixing `http://`?
b) have you tried your http_proxy with any other CLI tool (maybe curl?)
c) which kind of proxy is that,

[2016-07-13 20:18] gaverhae opened #2173 "Leiningen test hooks clash with test.check 0.9.0"
Minimal (or at least small) reproducing example, `project.clj`:

[code]

`test/t/core_test.clj`

[code]

I would expect that test to pass. Running the `check-fn` in the REPL works fine. When running `lein test`, however, I get:

[code]

That [test.check line 95](https://github.com/clojure/test.check/blob/f8b1c969fe0ae85870a9fb17ee88d0ec5176c3f6/src/main/clojure/clojure/test/check/clojure_test.cljc

[2016-07-19 18:51] aadrian commented on #2147
IMHO this bug is critical.

It makes this newly published book: https://pragprog.com/book/dswdcloj2/web-development-with-clojure-second-edition useless for new users, as in order to be able follow along, the user need to change in the profile to a specific version (e.g. Page 4).

[2016-07-19 22:12] cprice404 commented on #2147
@aadrian can you be more specific about what the example in the book shows?  It doesn't seem like page 4 is visible via that link?

[2016-07-19 22:21] cprice404 commented on #2058
It seems like the reproducer here is no longer valid, because (presumably) the luminus template has been pushed to the public clojars?  I'm looking for an easy reproducer for all of these issues about the `~/.lein/profiles.clj` but if I run `lein new luminus foo` without setting up that mirror configuration anywhere, it works fine.

[2016-07-19 22:33] aadrian commented on #2147
It should not be relevant, since this bug seems to affect all entries that can be made in that file.

The example in the book is setting a specific version on the Luminus template, so that the snippets in the book to correspond to what the user is experiencing.

[2016-07-19 22:39] cprice404 commented on #2147
I was just trying to come up with a reproducer that was a little simpler than the MANIFEST one above, and make sure that it actually covered all of the issues that people have linked to this one.

In any case, I was able to repro with the `MANIFEST.MF` example, and did a git bisect tracing it back to this commit: ca32d3e28a0f2480ea67658d08106cd84c6a90b9

[2016-07-19 22:57] aadrian commented on #2147
``` {:user {:plugins [[luminus/lein-template "2.9.10.74"]]}}```

[2016-07-19 23:02] cprice404 commented on #2147
@aadrian and then run what command?  because I can run `lein new luminus foo` without specifying that plugin anywhere, even with 2.6.x.

[2016-07-19 23:17] aadrian commented on #2147
Of course you can, but without that profile setting, lein will use the **latest** template available, not the one used throughout the entire book, thus having different libraries and/or versions.

The whole point of it is "wysiwyg" :) : for the user get what it's seeing in the book when it executes commands specified in that book.

Because many Clojure libraries don't seem to value backward compat

[2016-07-19 23:27] cprice404 commented on #2147
@aadrian all I am asking is if you can give me an example of a command that would succeed with that version and fail with the latest version...

[2016-07-19 23:34] tobias commented on #2058
@cprice404 did you point clojars.org to 127.0.0.1 in `/etc/hosts` from step 1? That should mimic clojars being down, since that was the case that exposed this issue. If clojars.org is unavailable, it won't matter if the luminus template is on clojars.org or not. If, after disabling clojars, `lein new luminus foo` works, then it must be pulling from the mirror, which would mean this issue has alrea

[2016-07-19 23:55] techwhizbang commented on #2147
The simplest way that I've been able to see the bug occurring aside from the MANIFEST example I provided above but I didn't want to confuse the situation with an external Lein plugin is to add whatever keys you want in the ~/.lein/profiles.clj and then use lein-pprint to see the result via `lein pprint`.

Looking at that bisect and the timeframe of commit aligns approximately to the Leiningen vers

[2016-07-19 23:59] cprice404 commented on #2147
Another clue: this seems to be something special about the `:user` profile.  If you create a profile with a different name in your `~/.lein/profiles.clj`, e.g. `:foo`, and then try to do the `MANIFEST.MF` repro with `with-profile foo do`, the manifest gets the value as one would expect.

Also I was hacking on the source code and effectively reverted the change from ca32d3e28a0f2480ea67658d08106cd8

[2016-07-20 00:18] cprice404 commented on #2058
@tobias nope, missed that, thanks.

[2016-07-20 00:25] tobias commented on #2058
My pleasure, let me know if you need anything else.

[2016-07-20 00:32] cprice404 commented on #2147
[This commit](https://github.com/cprice404/leiningen/commit/def03d9999c70c9b161145d8d8d1ba88cddc33d9) fixes the `MANIFEST.MF` reproducer, but I don't know how to tell if it would break other things.  It doesn't cause any test failures.

However, this patch is just inside the `jar` code, so it wouldn't make any difference whatsoever on the related tickets such as #2058.  So, either these bugs aren'

[2016-07-20 00:43] cprice404 commented on #2058
After hacking `/etc/hosts`, running the master branch from source, what I see is:

1. if I put the mirrors configuration in a profile *other than* `:user` (e.g. `:foo`), lein doesn't seem to use it even if I say `with-profile foo`.
2. if I put the mirrors configuration in the `:user` profile, it successfully downloads the template jar from the mirror (and then I get some `NumberFormatException` fr

[2016-07-20 00:48] cprice404 commented on #2058
mirrors in the `:user` profile seem to fix this reproducer for me even on lein 2.5.3... confused :)

[2016-07-20 18:08] tobias commented on #2058
I can only recreate this with 2.5.1, so it's likely that's the version I was running when I ran in to this issue (I recall a bug in 2.5.3 that caused me to stay on 2.5.1 for a while). So I think it's safe to call this fixed, at least for the `:user` profile (that's where I was putting the `:mirrors`).

[2016-07-20 18:08] tobias commented on #2058
I didn't mean to close it myself :)

[2016-07-25 20:03] damianrr commented on #2162
Not really, I've just re-install my laptop, I've the latest ubuntu with all packages updated ... and I still have this error

[2016-07-27 19:30] cprice404 opened #2177 "2.7.0 release date?"
Does anyone have any idea when we might be able to do a 2.7.0 release?  Or if there are any must-have issues that need to be addressed prior to that release?

[2016-07-27 19:45] okant opened #2178 "lein repl: Windows 10 error"
I have installed leiningen via installer.

When I try to run "lein repl" command I get this error.

In such situation, what should I do?

![repl error](https://cloud.githubusercontent.com/assets/20689415/17189708/65d3c93e-544b-11e6-8c3a-6235371cb365.png)

If this issue is an unappropriated one, sorry for disturbing

[2016-07-27 20:39] winks commented on #2178
ouch, this might a problem with the path and escaping.

Could you please try to run in "c:\users" or any other path without spaces? (If my theory of the "ve" coming from your username is correct)

[2016-07-28 10:41] hyPiRion commented on #2177
I've been in the mountains for a week now, so I haven't seen through the issue list. If nothing very important has come up, I'd like to review and merge in #2112 before we publish 2.7.0, but apart from that, there's nothing specific.

Generally happy for more pull requests merged in or reviewed, but nothing critical.

[2016-07-28 16:16] cprice404 commented on #2177
Thanks!  Hope I didn't bother you during your holiday.

I can try to find some time to look over #2112.

[2016-07-28 19:08] lopalghost commented on #2178
I ran into this problem--it was indeed due to spaces in the path name. For a temporary fix, you can edit lein.bat and change

`set CLASSPATH=%LEIN_JAR%`
to
`set CLASSPATH="%LEIN_JAR%"` (with quotes)

It seems the quotes were removed at some point, I assume because they caused another issue?

[2016-07-31 15:39] bcalco commented on #1248
For anyone reading this, as I am, three years anon, and finding the lein.bat file slightly different than described above, the only change I had to make to the lein.bat file from the windows installer to get everything to work was to modify line 115 from:

         set CLASSPATH=%LEIN_JAR%

to
         set CLASSPATH="%LEIN_JAR%"

After that single change I was able to run lein on my Windows 8.1 VM

[2016-07-31 19:19] josteink commented on #1248
@bcalco If that's true, I reccomend you send in a PR.

It *would* barely take me a minute to do so myself, but if I was asked to test or investigate anything I wouldn't be able to provide responses, so it's better for everyone if you could go ahead and do it.

You can even fork and edit on githib, without the need for messing with git or code locally.

[2016-07-31 22:02] bcalco commented on #2178
I moreover recommend adding %CLASSPATH%, thusly:

     set CLASSPATH="%LEIN_JAR%;%CLASSPATH%"

[2016-08-03 15:17] puredanger commented on #2173
One workaround for this problem is to turn off lein monkey-patching of clojure.test in your project.clj:

`:monkeypatch-clojure-test false`

Also, I believe test.check has a change that avoids this in master for the next version.

[2016-08-03 15:21] puredanger commented on #2173
Also see http://dev.clojure.org/jira/browse/TCHECK-113

[2016-08-03 19:14] webappzero opened #2181 "Tutorial typo causes compilation error"
Example file path `src/my_stuff.clj` in line 558  of doc/TUTORIAL.md caused compilation error upon execution of `lein uberjar`.

Changing path to `src/my/stuff.clj` fixed issue on my system.

[2016-08-03 19:49] webappzero opened #2183 "Typo in tutorial jar file name"
The name of jar file on line 579 of doc/TUTORIAL.md doesn't match either name generated in lines 572 or 573.

579:     my-stuff-0.1.0-standalone.jar

572:     my-stuff-0.1.0-SNAPSHOT.jar
573:     my-stuff-0.1.0-SNAPSHOT-standalone.jar

[2016-08-03 19:58] webappzero commented on #2181
Not sure if this is the right fix?

[2016-08-04 14:38] cprice404 commented on #2183
Closed via #2184

[2016-08-04 14:38] #2183 closed

[2016-08-04 14:45] cprice404 commented on #2177
I spent some time reviewing #2112 last week but haven't heard back from the author yet.  It has some merge conflicts and IMO there are probably a few design ideas that should be discussed before it should be considered for merge.  Perhaps that one could land in 2.8.0?  Version numbers are cheap, right?  :P

[2016-08-04 15:22] webappzero commented on #2181
The error was mine and not the Tutorial's. Please ignore.

[2016-08-04 15:22] #2181 closed

[2016-08-04 18:44] whitecoop opened #2185 "`lein repl` hangs in Bash on Ubuntu on Windows"
Java starts and holds about 30% of my CPU, but nothing happens. I've tried `lein repl` inside a Leiningen project and outside. `Cntl + c` won't kill it once it hangs.

![repl-hangs](https://cloud.githubusercontent.com/assets/10946864/17413530/631f7e40-5a36-11e6-90cb-709bc3cc96cb.PNG)

Since other `lein` commands work, I thought the issue might be with Leiningen rather than Bash on Windows, but I w

[2016-08-04 19:28] kumarshantanu commented on #2185
Given that even the `java -version` command (for Oracle 1.8 JDK) hangs on my Ubuntu/Windows10/WSL setup, I guess WSL is not quite ready to run Java yet.

[2016-08-05 23:57] sgdread commented on #2122
Just hit this problem with luminus template (file is in ../env/dev/clj/user.clj. Haven't touched the file since the project generation, at one point repl stopped working.
Once commented out all the content in user ns, the problem disappeared.
Thanks @martinklepsch, this report saved me tons of time.
Not sure if problem with leinigen since figwheel is also affected. I wonder if this might be reinca

[2016-08-07 12:47] hyPiRion commented on #2177
@cprice404: Yeah, I've looked on #2112 as well, and think we can do without it. I'll be looking at some of the smaller PRs and then push out a release after that.

[2016-08-08 16:19] cprice404 commented on #2177
@hyPiRion that's great news, please let me know if there is anything I can do to help.

[2016-08-10 03:54] raags opened #2186 "Ability to pin lein to a specific version"
I see that the script exports LEIN_VERSION right at the top; can we source a file say ~/$LEIN_HOME/lein-version and use that instead? Use case would be to pin lein to a specific version, and upgrade when needed/tested.

[2016-08-12 05:22] mikera commented on #1975
Any chance of resolving this one? Currently it is making it impossible to do proper testing for independent core.matrix implementations with Leiningen - only workaround is to recommend Maven!

[2016-08-12 15:59] cprice404 commented on #1975
Have you tried using `classifier`?  We use test jars quite a bit in our projects, e.g.:

https://github.com/puppetlabs/puppetserver/blob/6e7d274db90f4f22d87caec545e541d36a99f64c/project.clj#L112-L114

And lein has been working fine for us with this pattern.

[2016-08-12 16:34] erjoalgo opened #2187 "lein repl, lein deps: Failed to transfer file: https://repo1.maven.org/maven2/... Return code is: 400 , ReasonPhrase:Bad Request."
[code]

[code]

Any ideas on this? Any flag to make lein more verbose?

[2016-08-12 16:35] erjoalgo commented on #2187
[code]

[2016-08-12 21:07] maw87 commented on #2168
Had the same issue, using Ubuntu 15.10, Java 1.8 and 4.2.0-42, fixed it by updating the certs with "sudo update-ca-certificates -f". Thanks for the tip.

[2016-08-13 09:47] mikera commented on #1975
Interesting - that may be a workaround for now.

I still think this is a valid issue, as the same pattern with `type` works in Maven

[2016-08-15 16:10] urzds opened #2188 "lein test - Support clojure.test.junit"
[`clojure.test.junit`](https://clojure.github.io/clojure/clojure.test-api.html#clojure.test.junit) is a "clojure.test extension for JUnit-compatible XML output". A call to `clojure.test.junit/with-junit-output` needs to wrap the call to `clojure.test/run-tests` to produce XML output. It would be great if `lein test` could support this, e.g. through a `--with-xunit` commandline parameter, like some

[2016-08-15 18:14] TecknoRobot opened #2189 "Problem installing Leiningen on Windows system - all files don't download"
<strong>--- PROBLEM ---</strong>
I tried to install Leiningen but it doesn't appear to be installed.  It runs (calls Java) but can't find many dependencies (see way below).

<strong>--- INSTALL STEPS ---</strong>
1) I already had Java JDK 7 installed (which includes Java SE 7).

2) I used the Windows installer (http://leiningen-win-installer.djpowell.net/) to install Leiningen.
3) The installer fo

[2016-08-16 13:32] conan commented on #2185
`java -version` works fine for me if java is acquired using `sudo apt-get install default-jdk`.  Details over on the referenced issue above.

[2016-08-19 00:22] cprice404 commented on #2177
@hyPiRion any particular small PRs you'd like help reviewing?

[2016-08-19 16:50] munk opened #2190 "JAVA_OPTS are not correctly handled"
[code]

When running this with my project, I get an initialization error. The initial heap size is not larger than the max heap size, so something wonky is going on. I would expect that this configuration would build correctly instead of throwing an error. Maybe the options are not being parsed correctly?

[2016-08-21 12:19] danceasarxx opened #2191 "Change leiningen downloader"
Is there a way to change the application leiningen uses to refresh packages, or even download packages

[2016-08-21 12:36] winks commented on #2191
Can you elaborate? Is something not working?

[2016-08-21 12:49] danceasarxx commented on #2191
I have been waiting for about an hour to update search index....it's still at `42%`

[2016-08-21 13:39] danceasarxx commented on #2191
I just checked the download size, **over** `200MB`. Hope I wont have to download this again.

[2016-08-21 14:29] winks commented on #2191
The search functionality is kind of a sore point. I'd suggest just using web search to find the packages you need on central or clojars.

I did suggest to use web search by default in the past but I'm sure someone had a good reason why we still have this.

[2016-08-21 18:29] hyPiRion commented on #2191
Yeah, `lein search` isn't the best thing in the world, and we're planning to take it out of Lein proper sometime. I'd suggest using clojars/github/[The Clojure Toolbox](http://www.clojure-toolbox.com/) when searching for libraries as of now.

The index is only used for `lein search`, so fortunately no other tasks will attempt to download it.

[2016-08-21 18:59] hyPiRion commented on #1782
Fixed by #2165.

[2016-08-21 18:59] #1782 closed

[2016-08-21 18:59] hyPiRion commented on #2091
Fixed by #2157.

[2016-08-21 18:59] #2091 closed

[2016-08-21 19:00] hyPiRion commented on #2156
Fixed by #2159.

[2016-08-21 19:00] #2156 closed

[2016-08-21 20:00] #2191 closed

[2016-08-21 20:01] danceasarxx commented on #2191
Thanks....makes sense

[2016-08-22 06:27] hyPiRion commented on #2177
@cprice404: I did a couple of PRs yesterday, would like to get #2169, #2174 and #2180 in as well, if they're mergeable. I'll start on them in ~10-12 hrs time, but feel free to review and merge if you got time/have a Windows machine nearby.

[2016-08-22 23:35] cprice404 commented on #2177
@hyPiRion I took care of that first one.  Started to look into the other two by grabbing a VMWare windows VM at the office, but quickly realized that I have no idea how to Windows.  :)  Ran out of time.  May be able to try again tomorrow if you haven't already taken care of them.  Thanks!

[2016-08-23 00:37] hyPiRion commented on #2177
@cprice404 : Thanks for looking into #2169 :)

And yeah, I too ran out of time today after trying to install the JDK 8 on a Windows VM.

[2016-08-23 16:54] cprice404 commented on #2177
FWIW my more windows-savvy co-workers turned me on to using 'chocolatey' to install git and the JDK.  That makes it as simple as:

[code]

Will let you know if I have time to get any farther on it today.

[2016-08-23 21:25] cprice404 commented on #2177
@hyPiRion I spent some more time trying to play with the powershell PR on a win10 vm today; I can't seem to figure out how to bootstrap lein from source on windows.  It keeps telling me that the jar doesn't exist in the "self-install" dir, but it explodes if I try to run `self-install`.  I tried using a released version of lein to do an `uberjar` and then I was going to copy that file into place,

[2016-08-23 21:47] hyPiRion commented on #2177
Oh, no worries, I think I got it under control.

The most important thing is not really that it bootstraps properly – although it would make it easier for newcomers – but that it works with the jar files. So I just replaced "2.6.2-SNAPSHOT" with "2.6.1" and checked if it worked.

[2016-08-23 22:13] hyPiRion opened #2192 "Move bat script over to ps1 script"
With the pull request #2174 we're not far away from replacing the batch script with powershell. This will require some investigation to make the usability good:

- [ ] Is it possible to keep the powershell script in a single file?
- [ ] Would changing the bat script to download powershell script on upgrades (while still keep it download old versions when downgrading) be sensible? If not, we can ju

[2016-08-23 22:23] hyPiRion commented on #2190
I'm unable to reproduce this issue.

Inside a project, the `:jvm-opts` inside project.clj  will be spliced in as arguments before `JAVA_OPTS`, which may cause issues if you're attempting to override the default project.clj options. Could this be the issue here?

[2016-08-23 22:30] hyPiRion commented on #2188
I'm not sure if this is easy to do or not – we already do a lot of monkeypatching inside `lein test`, and I'd prefer to not add more in there for now. If this is really easy to add support for then I wouldn't mind, but if this turns out to be nasty, then I'd prefer that this functionality is included via a plugin (unless that's impossible).

[2016-08-24 13:42] cprice404 commented on #2177
@hyPiRion hooray!  Thanks for all of your work getting the release out.  I will try to help keep an eye out for any bug reports with 2.7.0, but also feel free to ping me in IRC or whatever if you need a hand with anything!

[2016-08-24 13:42] #2177 closed

[2016-08-24 18:38] aadrian commented on #2192
-1

Bat was working in all environments without problems.
PowerShell not so (restricted in many corporate environments) :(.

With the last 2.6.1 migration to 2.7.0 now Lein is broken because of PS use.
[code]

[2016-08-24 21:53] jevad opened #2193 "lein.ps1 requires PowerShell 4"
I am recommending that you update the installation instructions to add PowerShell 4 as a requirement for Windows installations.

Trying to run the PowerShell script on Windows 7, I received an error message informing me that "Invoke-WebRequest" was not recognized.

Research indicated that Invoke-WebRequest requires PowerShell 4 ( cf. https://matt40k.uk/2014/07/the-term-invoke-webrequest-is-not-rec

[2016-08-24 22:07] jevad commented on #2192
As aadrian noted, PowerShell requires special "ExecutionPolicy" permissions to run scripts.  Setting that special permission is easy , but it potentially requires "Administrator" privileges, which ordinary users do not have in many corporate and (most especially) government environments.

I ran into the same error message as aadrian when I ran the 2.7.0 bat file.  However, my corporate environment

[2016-08-24 22:14] hyPiRion commented on #2193
Yeah, I had the same issue, and resolved it with by installing WMF4.0. It should error out instead if you don't have a high enough version of PS.

[2016-08-24 22:22] hyPiRion commented on #2192
ah, darn, I'll push out a bugfix which resolves the lein.bat breakage asap.

Is the issue that powershell itself is restricted, or is the issue the execution policy of powershell? And if so, are there any to get around that? One of the reasons we wanted to go over to ps was because it handled downloading much better for us, but if powershell or the execution policy isn't widely available then powe

[2016-08-24 22:47] hyPiRion commented on #2192
A normal `lein upgrade` will not mess up lein.bat scripts anymore, sorry for that inconvenience.

[2016-08-24 22:50] hyPiRion commented on #2193
Actually, I'm pretty sure we can use lower level tools to support older versions of powershell. If that's possible, then I'd prefer that over powershell erroring out.

[2016-08-25 09:05] aadrian commented on #2192
@hyPiRion  Thank you. It works again now. The ```lein.bat``` needs to be manually re-downloaded first, and than everything seems to work again :) .

[2016-08-25 09:37] JulianBirch commented on #2193
You might find this useful. I wrote it four+ years ago, so don't expect it to have all the bells and whistles of a modern lein command. But it definitely worked on very old versions of powershell.

https://gist.github.com/395038

[2016-08-25 11:26] hyPiRion commented on #2193
@JulianBirch: Thanks, that's really useful :)

[2016-08-29 04:03] timmc commented on #1446
For reference, the mailing list post in question: http://librelist.com/browser//leiningen/2014/2/20/modified-epl-issue-and-its-impact/ (useful for description of how/whether to update an affected project.)

[2016-08-30 10:28] benedekfazekas commented on #2097
just stumbled upon this one. I suppose this is fixed in mranderson, perhaps good for a close?

[2016-08-30 11:01] benedekfazekas commented on #1969
clojure-emacs/cider#1824 may be related to this one? It seems that whatever added with `update-in` does not "see" transient dependencies. Perhaps there is a weird order of adding deps issue here?!

If I switch off the cider autoinjecting dependencies and define the necessary dependencies in the `.lein/profiles.clj` file cider repl starts up fine.

Wonder if throwing #2074 into the mix is appropria

[2016-08-30 12:44] hyPiRion commented on #1969
@benedekfazekas: Do you mean transitive dependencies? I'd be surprised if that would be an issue related to `update-in`. Seems more likely that this is related to the org.clojure/clojure dependency – I'll have a look on the issue later when I get time.

[2016-08-30 12:45] benedekfazekas commented on #1969
yes, sorry, i meant transitive deps of course. thanks @hyPiRion

[2016-08-30 14:42] arichiardi commented on #2097
The problem was solved for me after that fix, yes.

[2016-08-30 14:43] #2097 closed

[2016-08-30 16:27] ayqazi commented on #2149
I had a similar problem just running lein:

[2016-08-30 16:30] ayqazi commented on #2149
I had a similar problem just running lein. To make sure it was not a problem with my set up, I fresh-installed Oracle JDK 9 on my Ubuntu 16.04 LTS installation, and downloaded `lein` afresh too.

Output:

[code]

I am not a Java person, so do not really have a clue as to what is happening, but it seems related to this issue.

Thanks

[2016-08-30 19:13] hyPiRion commented on #2149
I'd like to get to the core of this and find out how to resolve it, but I myself would like to wait for feature freeze in Java 9 first. Others are free to look into this of course, and I'll happily take patches for this.

[2016-08-30 22:14] hyPiRion commented on #2186
I don't think that's necessary – first and foremost, we have `lein upgrade vsn` and `lein downgrade vsn`, so if you wanted to change to version 2.4.0 for example, you could just do `lein downgrade 2.4.0`.

The scripts are also standalone, so I tend to just copy the lein file when a new release comes out; You can e.g. copy the lein script to `lein-2.4.0` and then do `lein-2.4.0 downgrade 2.4.0` if

[2016-08-30 22:20] hyPiRion commented on #2178
This was fixed in 2.7.0.

[2016-08-30 22:20] #2178 closed

[2016-08-30 22:21] hyPiRion commented on #2151
Since this issue has been open for quite some time without any response, and we're unable to reproduce it, I'm closing this one. Feel free to reopen if this still is an issue.

[2016-08-30 22:28] hyPiRion commented on #2124
After some thought, it feels like this would just cause more trouble than it's worth. Closing this, and will reconsider it if GitHub's uptime decreases significantly.

[2016-08-30 22:28] #2124 closed

[2016-08-30 22:30] hyPiRion commented on #2117
This is actually not a bug, but it's probably poorly documented. It should only be possible for repository credentials. If plugins want to expand `:env/variable` then they would have to do it themselves.

[2016-08-30 23:16] hyPiRion commented on #1577
I think it's hard to get this one "right", because of differing opinions between people. I don't want to impose any standards on people, so I'd rather prefer a meta-CONTRIBUTING.md file instead. What about making it somewhat like [doc/intro.md](https://github.com/technomancy/leiningen/blob/master/resources/leiningen/new/default/intro.md)?

[2016-08-30 23:21] hyPiRion commented on #1518
Yeah, this is implemented, but we should probably document #1651 in the `lein help repl` documentation.

[2016-08-30 23:25] #1668 closed

[2016-08-30 23:28] hyPiRion commented on #1725
In hindsight this may be because the JVM opts to lein is passed in via `LEIN_JVM_OPS`, which are the ones log4j reads when it's ran inside lein.

Since this issue is somewhat old I'll close it. Feel free to reopen if the suggestion above doesn't work.

[2016-08-30 23:28] #1725 closed

[2016-08-30 23:33] #1878 closed

[2016-08-30 23:34] hyPiRion commented on #1878
This issue seems to be outdated as cljc is out and (presumably) working.

[2016-08-31 02:37] creamidea commented on #615
Hi, I have met the same problem using cmd on Windows 10. I found the cmd doesn't support the prompt for password.
At last, I changed to use Git Bash to resolve this problem. Good luck :)

[2016-08-31 03:17] myguidingstar commented on #1577
Err, I totally forgot this issue :D
a long with meta-COTRIBUTING, I think it's okay to include a short template of conventions that will be used by the project. The author will then quickly pick their preference by editing the generated file:

[code]
that sounds redundant but it targets new contributors.
Btw, the Nixos guys also have really nice github issue and PR templates here https://github.co

[2016-08-31 04:01] sunng87 opened #2194 "Getting error when using :exclusions for managed dependencies"
I'm using the new managed dependencies in my project, my dependency looks like:

[code]
where the version of abc is defined in parent project (using lein-parent)

But it seems lein cannot recognize abc:

[code]

[2016-08-31 16:58] cprice404 commented on #2194
@sunng87 hmm.  I will try to take a look at this later if I get a chance.

I suspect that you might be able to workaround it by putting in a `nil` for the version number here?  So, it would look like this:

`[[abc nil :exclusions ...]]`

Can you try that?  If it works for you I can at least update the docs to indicate that that is currently necessary, and then maybe look into supporting it w/o the

[2016-08-31 17:00] cprice404 commented on #2194
I do have test coverage that uses `:exclusions` with an explicit `nil`, so hopefully that will work for you:

https://github.com/technomancy/leiningen/blob/7ea847d16fe39a7c38be9a8889dbce6b0af5bd11/test_projects/managed-deps/project.clj#L17

[2016-09-01 02:41] sunng87 commented on #2194
Thank you @cprice404 for quick response. I confirm the workaround works for my case.

[2016-09-01 17:41] cprice404 opened #2195 "managed dependencies: look into supporting `:exclusions`, etc., without requiring explicit `nil` for version number"
As discussed in #2194 , the syntax for using managed dependencies in cases where you need additional modifiers for a dependency (e.g. `:classifier`, `:exclusions`) is not entirely intuitive.

If you don't need any such modifiers, you can use managed dependencies by just omitting the version string from your declared dependency:

[code]

You can also explicitly specify a `nil` for the version strin

[2016-09-01 17:49] cprice404 commented on #2194
@sunng87 thanks for confirming.  I filed #2196, which calls this workaround out in the docs, and filed #2195 about possibly support the more intuitive syntax in the future.

[2016-09-01 20:21] hyPiRion commented on #2195
Any reason why we can't massage the vectors before passing them to pomegranate? That seems doable to me, but perhaps you hit on something when you implemented this.

[2016-09-01 20:31] cprice404 commented on #2195
You're probably right about that, good point.

[2016-09-01 20:34] hyPiRion commented on #2187
You could do `DEBUG='1' lein repl` but that would probably not help you much.

Is this still reproducible? I'm hoping that this is a transient central issue and not related to Lein at all.

[2016-09-02 18:49] timvisher opened #2197 "lein aliases shadow help entirely"
I believe there's no way to get help for a task once you've aliased its name. This could be considered bad practice but it's also quite useful. Could there be a way for help maybe to print both the aliases and the usage? Or maybe provide a second `lein alias` sub-command akin to `alias` in bash?

[2016-09-04 02:45] kentfredric opened #2198 "bin/lein uberjar on stable source tree dies in infinite recursion"
Currently trying to work out how to build leiningen from sources ( Because I'm packaging for Gentoo, and Gentoo desires everything to be built from sources wherever possible ).

However, this results in a problem wherein, using lein-2.7.0-standalone.jar (provided by you) to compile lein-2.7.0-standalone.jar from  lein-2.7.0.tar.gz following instructions ends in infinite recursion compiling release

[2016-09-04 11:38] benjyz opened #2199 "Multiple profile targets"
.

[2016-09-04 11:40] #2199 closed

[2016-09-04 21:43] hyPiRion commented on #2198
I tried to reproduce this with the exact same steps, but I couldn't do it on Debian Jessie. Could you provide the JVM version you use as well? (I build on 1.6.x) Also, is there anything in your `~/.lein/profiles.clj`/`~/.lein/profiles.d/*`?

Either way, the attempted fix for #1544 could probably be reverted because it seems iffy when we uberjar, _especially_ because this is should be a noop during

[2016-09-06 03:16] kentfredric commented on #2198
So far tested on OpenJDK 7 ( 1.7.0_111 ) and OpenJDK 8 ( 1.8.0_101 )

Don't have 1.6 handy for comparison.

Also was producing the problem where ~/.lein did not exist.

The only thing I think may be related is the $PATH/ lein used for bootstrap is infact a `lein-pkg`, not a `lein`. ( I believe I tried testing with non-pkg `lein` , but I tried so many different things before finally giving up that

[2016-09-06 09:10] hyPiRion commented on #2198
That sounds suspicious – I'll see if I can get some time to try and reproduce this tomorrow, but there shouldn't be any reason for this to not work.

[2016-09-06 21:43] danielcompton opened #2200 "Updating GPG documentation for GPG2 on Homebrew"
Homebrew has [started](https://github.com/Homebrew/homebrew-core/commit/912329f6c9fff00d88086e295d25ee2aceadb7da#diff-4915eb70a37408b4ffd6432f88db943c) installing gnupg 1 with the `1` suffix, which means that Leiningen signing will break if users update their (currently working) gpg through Homebrew. There's at least these options available:

* Update the docs to tell homebrew users to install `br

[2016-09-08 12:37] hyPiRion commented on #2200
If this works fine with gnupg2 and there's no big reason to not install it, then I don't think it's important to support gpg1 out of the box – we already have `LEIN_GPG` which can be used to refer to GPG in case it has a different name. Happy to get this documented better though.

[2016-09-08 21:43] #2200 closed

[2016-09-09 16:13] nautilus28 commented on #2198
I also had an issue with installing deps/plugins by leiningen v2.7.0

[code]

here is my my project.clj

[code]

[2016-09-10 01:09] jiangts opened #2202 "lein repl fails on internet in China"
Trying `lein repl` fails when in China(!!).

Just got off the plane and tried to start a new repl session and got this baffling error message.

[code]

Tried everything I could think of, and finally tried turning off the internet and trying it again, and voila, it worked! First, wondering what `lein repl` is trying to request on the network, and second, a graceful failure/helpful error message wou

[2016-09-10 10:26] ILoveHubGit opened #2203 "Can't start lein due to java.security.NoSuchAlgorithmException"
I'm new to Lein so I probably did not install it correct, but I can't find what is wrong.

I followed the instructions to install Lein from Leiningen.org
But when I try to start Lein repl I get the following error message:
Sep 10, 2016 11:55:48 AM org.apache.http.impl.execchain.RetryExec execute
INFO: I/O exception (java.net.SocketException) caught when processing request to {s}->https://repo1.mav

[2016-09-10 12:20] hyPiRion commented on #2203
On what system do you run on?

Typically this happens when there is something fishy going on with the java keystore. It usually seems to help to do `sudo update-ca-certificates -f`. If `update-ca-certificates` is not available, install it via `sudo apt-get install ca-certificates`.

[2016-09-10 12:22] hyPiRion commented on #2202
It's hard to know the exact cause of this unfortunately, but I agree that the error message is ugly. I'm happy to take patches to improve this.

[2016-09-10 12:25] hyPiRion commented on #2198
@nautilus28: This seems to be a different issue than what is described here – it may look like that is a temporary maven central outage. If you see this again could you make a new issue for this?

[2016-09-10 12:32] nautilus28 commented on #2198
@hyPiRion yep my bad, it was a temporary maven central outage. Now it works fine. Thanks.

[2016-09-10 16:41] ILoveHubGit commented on #2203
I'm running this on Ubuntu 16.04 LTS

I was able to run sudo update-ca-certificates. However this gives me an error on the Java keystore

Running hooks in /etc/ca-certificates/update.d...

org.debian.security.InvalidKeystorePasswordException: Cannot open Java keystore. Is the password correct?
	at org.debian.security.KeyStoreHandler.load(KeyStoreHandler.java:68)
	at org.debian.security.KeyStoreHan

[2016-09-10 17:09] hyPiRion commented on #2203
Hm, see if `sudo apt-get install ca-certificates-java` works. If that doesn't work, try out

[code]

[2016-09-11 08:44] ILoveHubGit commented on #2203
Hi hyPiRion,

I followed your instructions. After the first command I got a message to restart to finish installing the updates so I restarted my PC.
However, after the restart still the same problem.

So I executed the other two commands and now it is working :-)

Thanks a lot

[2016-09-11 08:44] #2203 closed

[2016-09-12 17:09] pbalduino commented on #1791
Is someone doing that?

[2016-09-14 13:07] eprozium opened #2204 "SDKMAN as installation alternative!"
Please add SDKMAN as installation alternative to Lein :

http://sdkman.io/

It's very good at handling different versions in parallel, and it has API to push releases http://sdkman.io/vendors.html automatically.

Ant, Maven, Gradle, SBT and other are already supporting this, and it would be practical if Lein would  too.

Thanks.

[2016-09-14 15:02] hyPiRion commented on #2204
I'll happily support this if it's not too much work to do so. :)

I looked at the vendoring and candidate releases, but couldn't immediately find out how the zip files should be structured, so I'll have a look at that when I'm able to.

[2016-09-15 07:15] marc0der commented on #2204
@hyPiRion I'd like to help you get set up on this. The zip file has the typical format that SDKs usually come in: in your case it will be a zip containing a `bin` folder, which in turn will hold your script (I believe that Lein has a single bootstrap script). The script needs to be executable.

In terms of getting the API credentials, you can contact me directly by email and I'll get those across

[2016-09-16 00:32] cprice404 opened #2205 "NPE when doing an install/deploy of a non-SNAPSHOT version of a project, when using managed dependencies"
Apparently I did all of my testing around the managed dependencies stuff only using SNAPSHOT versions of the various artifacts.  :(

Today we tried to do a `lein install` on a non-SNAPSHOT version of a project, which was using lein-parent/managed-dependencies to inherit dependency version numbers.  So, the project has some deps that don't include versions, like so:

[code]

When you remove the `SN

[2016-09-16 00:33] cprice404 commented on #2205
Note that this can be worked around temporarily by setting the environment variable `LEIN_SNAPSHOTS_IN_RELEASE`.

[2016-09-16 21:44] cprice404 commented on #2204
@hyPiRion let me know if you need help with this, I might be able to find some time.

[2016-09-17 19:15] achikin opened #2208 "lein does not specify Main-Class for app template"
[code]
[code]
Am I missing anything?

[2016-09-18 11:25] hyPiRion commented on #2208
Perhaps you intended to use `lein uberjar`? That would bundle all the dependencies and create a standalone version which is runnable.

I think it's pretty rare to use `jar` for standalone apps, because then you have to provide all dependencies (Clojure including) and the like yourself, in which case you're a real poweruser of Leiningen.

Perhaps we should add a "maybe you meant `uberjar`?" message

[2016-09-18 16:05] hyPiRion commented on #2204
@marc0der: Just sent you an email, let's do this.

@cprice404: This would likely be something that we have to do during releases, but I don't mind explaining/pairing the 2.7.1 release with you if you're interested :)

[2016-09-18 16:09] #2205 closed

[2016-09-18 16:23] cprice404 commented on #2204
@hyPiRion sure, I'd be happy to participate if it would be helpful to you!  I'll be offline the rest of today most likely, but you can send me an email, or, I'll be online (and in #leiningen) all day tomorrow (US time).

[2016-09-18 17:35] #2195 closed

[2016-09-18 22:01] achikin commented on #2208
`uberjar` did the job, thank you!

[2016-09-19 14:55] otfrom commented on #2173
I bumped into this problem on 19 Sept. Adding `:monkeypatch-clojure-test false` worked, but it failed as above without it.

[2016-09-19 17:55] cprice404 commented on #2205
@hyPiRion today I went through our whole project tree (about 5 levels of dependencies on lein library projects), did `lein install` with non-SNAPSHOT versions of the libraries using the current HEAD of lein, and verified that everything works.  Didn't run into any issues.

Anything else you had in mind to target at 2.7.1?  Or anything that I can do to help you prep for or execute the release?

Tha

[2016-09-19 20:02] iciclespider opened #2209 "Unable to create project specific lein task."
In my project.clj file, I am attempting to implement a lein task unique to that project in the project.clj file itself. I almost had this working, but there is a slight bug in the leiningen.core.utils/require-resolve function here: https://github.com/technomancy/leiningen/blob/master/leiningen-core/src/leiningen/core/utils.clj#L92  The implementation of that function is:

    (defn require-resolve

[2016-09-19 20:24] whitecoop commented on #2185
Adding this for others reference. This is where the real issue(s) are: [https://github.com/Microsoft/BashOnWindows/issues/541](https://github.com/Microsoft/BashOnWindows/issues/541)

[2016-09-20 07:57] iciclespider commented on #2209
After further contemplation, I believe the real issue here is in fact the ns-exists? implementation, which insists that the ns exists in a physical file. What is the reason for this test? Why can't the namespace just exist, regardless of where it resides?

[2016-09-20 10:56] hyPiRion commented on #2209
Yeah, this is not a bug in require-resolve itself, but rather the assumption that the namespace must be physically. Not sure why this is the case, it seems like looking it up through `find-ns` inside `ns-exists?` before doing a physical check would be just fine. Happy to take a patch for this.

[2016-09-20 21:14] hyPiRion commented on #1577
Thanks for the feedback, that sounds like a smart way to introduce it without too opinionated.

[2016-09-20 21:45] hyPiRion commented on #2079
I think this may be resolved again with #2082, which was released with lein 2.7.0. Can someone confirm this?

[2016-09-20 21:51] hyPiRion commented on #1894
I don't think this is as relevant anymore, as there are fewer and fewer using 1.6 (and we still support relatively updated versions of 1.6, even). If someone is able to reproduce I may reopen, but this doesn't strike me as something that happens for very many people.

[2016-09-20 21:51] #1894 closed

[2016-09-20 21:52] #2117 closed

[2016-09-20 21:52] #2208 closed

[2016-09-21 07:42] hyPiRion commented on #2204
(Oops, wrong issue)

[2016-09-21 07:43] hyPiRion commented on #2209
Fixed by 716d833.

[2016-09-21 07:43] #2209 closed

[2016-09-21 07:45] marc0der commented on #2204
The API credentials have been sent and the Candidate created. Now all that
remains is the API calls for the first version to be released.
On Wed, 21 Sep 2016 at 08:42, hyPiRion <notifications@github.com> wrote:

[2016-09-21 08:39] hyPiRion commented on #2204
I'll try to look at this and get this done by today.

[2016-09-22 00:51] hyPiRion commented on #2204
This is now resolved, one can do `sdk install leiningen`, which will fetch Leiningen 2.7.1.

[2016-09-22 05:25] eprozium commented on #2204
Thank you very much!

Executing ```sdk list``` will list ```Leiningen (0.0.0)``` as version.

It seems to work however on Linux machines without problems.

On OSX (El Captain) it's not working :( :
 - ```sdk install leiningen``` will show "Stop! leiningen is not a valid candidate."
 - ```sdk list leiningen``` will show the same message
 - ```sdk list``` will list however ```Leiningen (0.0.0)``` as

[2016-09-22 08:55] hyPiRion commented on #2204
Yeah, it seems like something interesting has happened with the release. I'll talk to the sdkman-people about it.

For now, it _seems like_ it will work if you do `sdk selfupdate`, then reopen the terminal and type in `sdk install leiningen` (at least that was the case for me).

I think `sdk install leiningen` is alright. I'm not too worried about aliases, but if it's an option then that would be

[2016-09-22 09:04] hypirion opened #2210 "Improve the Windows situation for sdkman builds"
The current SDKMAN deploys only consists of the bat script where you have to call self-install manually. It should preferably be a PowerShell script instead, and it should refer to  the jar file in /lib/.

Relates to #2192 and #2193.

[2016-09-22 10:56] marc0der commented on #2204
I had a quick look and all is in order. The `sdk list` view lags behind a bit sometimes but is now up to date.

When a new candidate is introduced, you can simply do an `sdk flush candidates` and open a new terminal. I just took it for a spin and it works fine for me!

[2016-09-22 10:57] hyPiRion commented on #2204
Oh, excellent, thanks for verifying! :)

[2016-09-22 10:57] #2204 closed

[2016-09-22 10:57] marc0der commented on #2204
@hyPiRion would you like it to be `lein` instead of `leiningen`? It would require that I regenerate your creds.

[2016-09-22 11:09] hyPiRion commented on #2204
@marc0der: It seems like the norm in sdk is the full name (e.g. `sdk install maven` instead of `sdk install mvn`), so there's no need to let Leiningen be an oddball here. I'm fine with the candidate name as it is, no worries.

[2016-09-22 11:10] marc0der commented on #2204
Great to have you on board!

[2016-09-22 18:14] eprozium commented on #2204
Thank you ! This seems to do the trick on OSX.

I would. I can't count how often I mistyped ```leiningen``` . Not so with ```maven```.

[2016-09-22 21:43] marc0der commented on #2204
It had nothing to do with OSX, but rather that you already had sdkman
installed.

If the name is really a problem, I'll leave it up to the project lead to
decide.
On Thu, 22 Sep 2016 at 19:14, E. P. <notifications@github.com> wrote:

[2016-09-23 00:43] iku000888 opened #2212 "classifier option fails in 2.7.1"
Works in 2.6.1
Works in 2.7.0
Fails in 2.7.1
Has anyone experienced this?

[2016-09-23 09:31] aadrian commented on #2192
@hyPiRion I have to rectify. After testing it on more machines, unfortunately the Windows version does not work without PowerShell - even if Curl is in the path :(.

Also tried with the new 2.7.1 ```lein.bat``` file and it's the same problem :(.

[code]

[2016-09-23 11:28] hyPiRion commented on #2212
So that we're on the same track: What do you mean by fails? Do you have a minimal set of steps I can use to check it out?

[2016-09-23 14:52] venantius commented on #1641
I'll add another vote to fixing this, as someone who ran into it two years later. Not hard to fix, but annoying to have run into.

[2016-09-23 17:23] cprice404 commented on #2212
I'm using `:classifier` in several places in my projects and haven't seen any issues with lein 2.7.x.  @hyPiRion if there is something broken there's a decent chance that it has something to do with my changes, so I'm happy to look into it.

@iku000888 if you can provide a reproducer I will check it out.

[2016-09-24 18:11] rfkm commented on #2212
(I'm a friend of @iku000888 and know the background.)

This doesn't relate to classifiers. The problem is the way to parse dependency vectors has been changed in #2207.
Some leiningen plugin assumes the second position of dependency vectors is always reserved for  a version number.
For instance, lein-modules allows us to specify a keyword as a version that has a special meaning.
The following code

[2016-09-24 19:55] hyPiRion commented on #2212
Dang, that's something thing I did not expect, thanks for bringing this up.

[2016-09-26 19:17] cprice404 commented on #2212
Ugh.

@hyPiRion what do you think?  I could change the code so that it:

1. pulls the 0th element from the vector as the artifact name,
2. pulls any number of `[keyword value]` tuples off of the end of the vector,
3. if there's anything left, check to see if it's `nil`,
   3a. if it's `nil`, use `nil`
   3b. if there's no value leftover at all from the dependency vector then presumably they omitte

[2016-09-27 19:34] cprice404 commented on #2212
@rfkm @iku000888 could you possibly test #2213 and see if that fixes your issue?

[2016-09-28 00:06] iku000888 commented on #2212
@cprice404 I checked your branch against our project.clj and it works gracefully.

[2016-09-28 00:21] cprice404 commented on #2212
@iku000888 great, thanks for testing it out.

[2016-09-28 16:00] munk commented on #2190
This was happening on my local CI server and it seems to have resolved itself. I suspect it was some versioning problem somewhere. If I reencounter it I'll try to make this more reproducible and open a new issue.

[2016-09-28 16:00] #2190 closed

[2016-09-29 04:53] tlrobinson commented on #2188
@urzds Have you found any other way to get junit output? I tried https://github.com/ruedigergad/test2junit but just get `Ran 0 tests containing 0 assertions`

[2016-10-04 01:55] 3duard0 commented on #2141
I was checking this bug today and here is what I found out so far:
- lein-protobuf adds a hook to `javac`.
- Before leiningen starts to run the task `with-profile` it loads the profile, which in this moment still has dev profile included, and adds the hook from lein-protobuf.
- Then leiningen excludes the dev profile and runs the `test` task, but the hook is still there. As the task `javac` is tri

[2016-10-04 21:37] #2212 closed

[2016-10-04 23:53] iku000888 commented on #2212
Thanks for taking care of this!

[2016-10-05 16:32] mhjort opened #2215 "Bump cheshire again"
Many people are working on AWS related plugins. AWS SDK nowadays requires 2.6.x version of Jackson library. Bumping Cheshire dependency in Leiningen would fix the issue.

[2016-10-06 21:49] #2215 closed

[2016-10-06 21:51] hyPiRion commented on #2215
Thanks for mentioning this, this is now bumped on master. (I'm guessing jackson 2.7.x works fine as well)

[2016-10-10 22:45] cprice404 opened #2216 "merged profiles do not resolve managed dependencies properly"
I'm seeing a case where, when I have a project that uses managed dependencies, and a profile where we specify `:dependencies` with a `^:replace`, somehow the code that checks whether the dependencies have version numbers or not and fills in a `nil` if they don't is not getting called.  This causes an `IndexOutOfBounds` exception on this line, in `get-original-dependency`:

https://github.com/techn

[2016-10-15 06:06] orb commented on #1784
This seems to still be a problem.

[2016-10-27 17:58] jcrossley3 commented on #2212
lein-modules maintainer here. Just wanted to voice a quick thanks for this change. I always hated the fact that I had to stick a placeholder in for the versions of my dependencies, e.g. `[foo/bar "_"]`. With 2.7.2, I can just use `[foo/bar]` and the correct version will still come out of the parent's `:versions` map without requiring any changes to lein-modules itself. i love it when things "just

[2016-11-03 04:37] rymndhng commented on #2161
Would definitely like this as well. I'm currently using maven to work around this, but would love the ability to infer the classifier from parsing the generated filename.

[2016-11-03 13:07] maxprokopiev commented on #2039
I would love to work on that if there are no concerns :)

[2016-11-05 11:22] #2161 closed

[2016-11-06 05:43] kumarshantanu opened #2221 "Include project.edn in generated JAR files"
Leiningen includes `project.clj` (under root as well as under `META-INF/leiningen/`) in the generated JAR files. Unfortunately, that file cannot be parsed by a program without using Leiningen-core itself. It would be great if the generated JAR files also have `project.edn` including just the project map that was used when building the JAR. The EDN file can be parsed and put to better use by progra

[2016-11-06 22:21] hyPiRion commented on #2221
If I recall correctly, other people have suggested this in the past. Usually what they've asked for are values which are available from `pom.properties` or environment variables [which should be handled in other ways](https://github.com/weavejester/environ). It's also slightly hard to do this in an intuitive fashion, as `lein uberjar` will bundle a different project map than what you'll see if you

[2016-11-06 22:37] hyPiRion commented on #2039
@maxprokopiev: Go ahead :)

[2016-11-07 03:12] kumarshantanu commented on #2221
Currently I read `project.clj` as string and apply regex to it to extract certain dependency versions (for reporting status in production), which I believe would be much better/predictably served if the file were EDN. Having the exact project map in `project.edn` would correctly reflect which profile was used to build the JAR.

[2016-11-10 01:25] scgilardi commented on #2167
the info here looks relevant: http://stackoverflow.com/questions/37167189/illegalstateexception-thrown-by-maven-ssl-related-when-downloading-project-de

[2016-11-11 18:44] Meidan opened #2222 "Allow specifying javac command path"
If a machine has more than 1 jdk installed, allow using the non-default one by specifying a path for the javac command, for tasks such as lein uberjar.

[2016-11-11 19:04] winks commented on #2222
does setting `JAVA_CMD` help?

https://github.com/technomancy/leiningen/blob/master/bin/lein#L225

[2016-11-11 19:11] Meidan commented on #2222
I tried `java-cmd`, it didn't help. An equivalent for javac would probably will.

[2016-11-11 19:33] winks commented on #2222
When I run lein 2.7.0 like this:
[code]

and then extract it via `jar xf foo.jar` then I see the correct JDK version in the in the `META-INF/MANIFEST.MF` file

[2016-11-11 20:16] Meidan commented on #2222
Cool, that works! (I was trying to get `:java-cmd` to work at the project level which would be more elegant, that I completely missed your reference)

[2016-11-11 20:25] winks commented on #2222
Awesome, closing this then :)

[2016-11-11 20:25] #2222 closed

[2016-11-16 19:55] danielcompton commented on #2149
Running a JDK-9 downloaded today from https://jdk9.java.net/download/ crashes immediately:

[code]

[2016-11-17 13:33] ivanpierre commented on #2149
A compilation of Clojure with JDK 9 should give the problem(s). There's a lot of libraries refactoring.

[2016-11-17 15:34] tobias commented on #2149
I can build Clojure HEAD of master and 1.8.0 with 9-ea+144, so I don't think that's the issue.

I was able to get the repl to start by editing `bin/lein` and removing the lein jar from the bootclasspath [here](https://github.com/technomancy/leiningen/blob/master/bin/lein#L218). I believe this is caused by java 9's module system hiding `java.sql.*` from the bootstrap classloader, and exposing it vi

[2016-11-21 08:30] arrdem commented on #2149
Was just bitten by this. Downgrading to Java 8 for now.

[2016-11-21 08:51] hyPiRion commented on #2149
Might be interesting to focus on this soon, as Java 9 is around the corner.

[2016-11-21 09:05] ivanpierre commented on #2149
Warning, it seems to me there is a '_' variable in the Java code for Clojure. It's now a keyword...https://blogs.oracle.com/sundararajan/entry/underscore_is_a_keyword_in

[2016-11-29 07:17] lenw commented on #2187
Could you share a project.clj that reproduces this issue ?

[2016-11-29 11:46] peterwestmacott commented on #1643
Also:
* Leiningen 2.7.1 on Java 1.8.0_77 Java HotSpot(TM) 64-Bit Server VM (OSX)

[2016-12-06 04:59] jeaye opened #2224 "No `.nrepl-port` created with `lein trampoline repl`"
Howdy,

I've found that `lein repl` creates the `.nrepl-port` file, while `lein trampoline repl` does not. Both are creating the nREPL, it seems, but the latter version neither announces the port nor creates the associated file. Is this intentional? It's crippling `vim-fireplace`, since the port information is not readily available.

Thanks

[2016-12-09 14:27] donniemattingly commented on #1722
+1

[2016-12-10 12:20] winks commented on #2189
Sorry, this might be a little late, but:

a) it looks like you somehow ended up with our [sample.project.clj](https://github.com/technomancy/leiningen/blob/master/sample.project.clj) as your `project.clj` - to the best of my knowledge it's simply a full-blown example of every possible config option. You shouldn't use that one, but just a generated (by running `lein new PROJECTNAME`) minimal one an

[2016-12-11 22:50] jeaye commented on #2158
This is blocking me, currently, when trying to build an uberjar on NixOS. My Nix builder doesn't have a writeable `HOME`, yet specifying a custom `HOME`, `LEIN_HOME`, `M2_HOME`, and `MAVEN_HOME` won't do the trick; lein still tries to write to the Nix builder's home instead.

[2016-12-12 03:59] gentoor commented on #2158
move :plugins from project.clj to ~/.lein/profiles.clj. i think this is a bug, and didn't find how to fix it!

[2016-12-12 21:49] ivanpierre commented on #2149
I'm working on a solution that seems to work with the Clojure REPL concerning the Timestamp.
I'll try compiling Leiningen with the modified JAR to see if there isn't a trap behind the trap... :Dhttps://gist.github.com/ivanpierre/b0ea937dac97d910a7c3c1e5774028e0

[2016-12-14 14:09] kadaj opened #2228 "Unable to include custom java source files"
When I add the `:java-source-paths ["src/java"]` in the `projects.clj` `lein repl` command fails with the error
[code]
I have JDK in the path. `javac -version` gives `javac 1.8.0_91`. It works when the java-source-paths is not added. Tried in Windows 7, Leiningen 2.7.1 on Java 1.8.0_91 Java HotSpot(TM) 64-Bit Server VM.  No issues with Ubuntu.

[2016-12-14 16:55] kadaj commented on #2228
I am having problem with Ubuntu as well. I loads the repl but error is thrown at the beginning. The clojure code in unable to find the java classes. For testing I tried to run the [clj-antlr demo](https://github.com/aphyr/clj-antlr/tree/master/demo) project.
[code]

[2016-12-14 18:09] danielcompton commented on #2228
What happens if you explicitly set the JAVA_CMD environment variable?

[2016-12-15 06:20] kadaj commented on #2228
It works when JAVA_CMD is set. Thanks.

[2016-12-15 06:20] #2228 closed

[2016-12-15 08:56] danielcompton commented on #2228
Is your path exported? It looks like there may still be a bug here.

[2016-12-15 10:08] kadaj commented on #2228
Yes JAVA_CMD is added to env variables. I have JAVA_HOME and in path \bin added so that cmd can find javac etc.

[2016-12-16 05:25] wallydrag commented on #2203
I am having the same issue but on a macbook. Can anyone recommend me any solution?

[2016-12-16 10:30] hyPiRion commented on #2203
@wallydrag: How did you install Leiningen? Was it via brew or did you just download the script and put it on your path?

In either case, this may happen if there are some issues with the Java certificates. Usually some way of recreating them or fixing them will resolve this issue.

[2016-12-16 12:02] wallydrag commented on #2203
I think i downloaded the script. Anyway leiningen is working for me.

What I did was I downloaded the latest oracle jdk and created another keystore with respect to the new jdk.

`keytool -list -keystore $(/usr/libexec/java_home)/jre/lib/security/cacerts`

^ this worked for me but

`keytool -list` did not.

I noticed that my JAVA_HOME env variable was not updated, so I updated and again did a `key

[2016-12-28 18:53] robbieh commented on #2224
I see the same behavior. I also noticed that `trampline repl` starts REPL-y 0.3.5 while `repl` starts REPL-y 0.3.7.

[2017-01-04 14:08] amrfaissal commented on #2151
I'm facing the same issue here. I've set both `http_proxy` and `https_proxy` but no luck.
`wget` is working fine behind the proxy which I used to download the script itself.

[2017-01-05 08:30] danielcompton opened #2229 "Add --dry-run option for deploy and release commands"
It could be helpful for users to have a `--dry-run` command they can pass when calling the `release` and `deploy` commands. This would show exactly what would happen before it happened.

[2017-01-06 12:34] LukeDefeo commented on #2153
I also have this confusion, some better docs in this area would be really helpful.

[2017-01-06 12:38] LukeDefeo commented on #2153
It would nice it lein printed out the list of profiles available and then also the profiles its actually merged for the task. Maybe this could be a verbose option

[2017-01-07 03:04] rjb25 opened #2230 "Very vague warning message if you use sudo lein."
The final line of this warning `Set LEIN_ROOT to disable this warning` is what is not very clear.
It does not specify where or anything related to how to do this. A file name or even type would make this message a lot more helpful.
[code]

[2017-01-07 17:35] hyPiRion commented on #2230
Yeah, happy to add a patch with information that this is an environment variable. Do you think `Set the environment variable LEIN_ROOT to disable this warning` would be sufficient?

[2017-01-07 17:41] rjb25 commented on #2230
Yes. That gives enough to let me or anyone know where to start looking. Thanks!

[2017-01-07 17:55] rjb25 commented on #2230
In case anyone else is wondering what an environment variable is, [this](https://www.digitalocean.com/community/tutorials/how-to-read-and-set-environmental-and-shell-variables-on-a-linux-vps) should help.

[2017-01-07 18:21] rjb25 commented on #2230
Is there a reason the following still throws the same warning?
[code]

[2017-01-07 20:13] hyPiRion commented on #2230
`sudo` does not preserve environment variables unless you pass `-E` to it; try

[code]

Also, may I ask why you're using `sudo lein` here? There's usually no need to use lein as a root user, unless you lack ownership for some of the files lein operates on.

[2017-01-07 21:32] rjb25 commented on #2230
I think I am falling into that 'unless' case. Here is the first line of the error I get when I execute
`lein run`.
[code]

[2017-01-10 12:09] hyPiRion opened #2231 "Support unquote-splicing within defproject in certain situations"
We could allow unquote-splicing within certain areas of defproject. In places where unquote-splicing doesn't work, we can emit a friendly error message explaining why it doesn't.

[2017-01-13 16:51] timmyjose commented on #2149
Any updates on this, guys?

[2017-01-13 18:07] #2230 closed

[2017-01-18 15:52] WilliamLightner commented on #2163
No such command as 'yum' on Windows 10.  I'm having the same issue. Running Java 1.8.0_101.

This is a new, previously unopened copy of Counterclockwise 0.35.  Same kind of issue with prior version (reason for upgrade).

Error occurs when I try to create a new project.

This is a very unpleasant, ugly kind of problem for someone new to Clojure and Leiningen.

I've tried supplying the 'http_proxy'

[2017-01-20 02:52] michaellindon commented on #2163
I also get this error on fedora 25 with up to date nss package

[2017-01-20 15:34] WilliamLightner commented on #2163
To clarify:

lein installs the leiningen-2.7.1-standalone.jar.  Then it fails.  If I delete the jar & run lein upgrade, it does the same thing.

I'm sure this is a simple thing to fix...if you know how.  I've no doubt I can figure this out...in time, although I have no experience with SSL certificates &c.

I do have PowerShell (it comes installed WinX).  I have curl & wget available via Cygwin, bu

[2017-01-21 13:56] yegortimoshenko commented on #1577
This is actually very project-specific. And it is something that is only useful after a certain scale. Generating boilerplate won't cut it.

I remember looking through Ruby repos a few years ago, and there was that piece of boilerplate generated with Bundler that I still know by heart (see [example](https://github.com/westarete/aversion/blob/master/README.md)):

And, actually, that's about as spec

[2017-01-21 16:59] miikka opened #2236 "leiningen.core.user/gpg map returned is inconsistent"
[code]

In this example it happens because the public key is not found, but [looking at the code](https://github.com/technomancy/leiningen/blob/a76de08f0da4c5ca95ceaf1421f0122b2df044a1/src/leiningen/deps.clj#L37-L41), it happens if `gpg` returns a non-zero exit code for any reason while checking a signature. The trouble is that [`user/gpg` does not return stderr in `:err`](https://github.com/techn

[2017-01-23 14:18] hkorpi opened #2237 "Leiningen options java-source-paths and eval-in-leiningen do not work together"
Used leiningen and java version (environment: windows 10):
[code]

If source-paths is defined and eval-in-leiningen is true:
[code]
this causes a following error with every lein command e.g.:

[code]

A project.clj (eval-in-leiningen = false):
[code]
does not cause this error:
[code]

[2017-01-23 16:27] hkorpi commented on #2237
This is probably caused by faulty wagons.clj file.

[2017-01-23 16:56] hkorpi commented on #2237
I had a namespace definition:

`(ns leiningen.wagons)`

in wagons.clj and this actually caused this error.

[2017-01-23 16:56] #2237 closed

[2017-01-26 18:18] philip-doctor opened #2239 "lein repositories appear to never fall back from :mirrors"
I have

[code]

I see all of my dependencies get resolved through it, awesome.  Then I disconnect from my VPN, so I can no longer resolve maven.example.lan, I get

[code]

But no dice.  Same error.

I would expect that if a mirror wasn't available that lein would fallback to the repositories available, but that doesn't appear to be the case.

[2017-01-27 16:41] overthink commented on #1140
I believe I have a very simple repro for this with leiningen 2.7.1: https://github.com/overthink/lein-local-repo-issue

It looks like lein will happily download dependencies into the local repo (i.e. when resolving deps), but when the plugin (kibit) is actually run it doesn't look in the local repo.

[2017-01-27 17:01] overthink commented on #1140
Bizarrely, this may be specific to kibit / only a certain class of plugins. If you add eastwood (`[jonase/eastwood "0.2.3"]`) to `:plugins` in my example repo and follow all the same steps except run `lein eastwood`, it seems to work fine :confused:

[2017-01-29 19:58] michaellindon opened #2240 "Could not transfer artifact.... access denied"
I have the following project
https://github.com/michaellindon/sss4clj
https://clojars.org/sss4clj
which I am trying to set up travis for.

My build always fails on travis-ci with the following error message

I have attached the full build log from travis in log.txt
[log.txt](https://github.com/technomancy/leiningen/files/737769/log.txt)

I had the same issue when performing lein deps on my persona

[2017-01-30 19:50] danielcompton commented on #2240
It seems slightly surprising that your system is reaching out to build.clojure.org. I'm not quite sure why it would be doing that, as I assumed that your dependencies `:repositories` wouldn't be searched. You could try adding `:exclusions [org.clojure/clojure]` to all of the dependencies to stop it from downloading it, e.g.: `[net.mikera/core.matrix "0.57.0" :exclusions [org.clojure/clojure]`, and

[2017-01-31 10:17] #1966 closed

[2017-02-01 21:18] cap10morgan opened #2241 "Leiningen can't install maven artifacts whose names are invalid symbols"
For example: Specifying `net.3scale/3scale-api` in the dependencies causes lein to throw an invalid token exception when it tries to load the `project.clj`.

[2017-02-01 21:54] cap10morgan commented on #2241
Specifying this dep like this is a workaround: `[~(symbol "net.3scale" "3scale-api") "3.0.2"]`. So if that's the official / best way to do it, I'm happy to close this.

[2017-02-01 22:19] hyPiRion commented on #2241
It's currently the best – if not the only – way to do it, yeah.

I think this would happen so infrequently (symbol name must start with digit) that I myself wouldn't look into making this more convenient than it currently is. That being said, I wouldn't mind a patch which allows us to use `"net.3scale/3scale-api"` if it doesn't require too big changes in leiningen core.

[2017-02-02 01:50] cap10morgan commented on #2241
@hyPiRion Let me know what you think of this PR: #2242.

[2017-02-02 07:14] hyPiRion commented on #2241
Looks good, thanks! :)

[2017-02-02 07:14] #2241 closed

[2017-02-03 09:42] SevereOverfl0w commented on #2188
Given that almost anything can wrap around `clojure.test/report` function (including JUnit and TAP) it would be better if this takes a reference to a function that will wrap the tests.

This allows per-project reporters.

[2017-02-06 18:04] michaellindon commented on #2240
The following worked for me:
Rather than importing all of incanter I changed the dependency
from
[incanter "1.9.1"]
to
[incanter/incanter-core "1.9.1"]

so that stuff I didn't need is ignored. Moreover in my .travis.yml I added

jdk:
  - oraclejdk8

and now it works

[2017-02-12 05:16] johnmcconnell opened #2245 "Add docker deployment to .travis.yml"
Currently, there is no "official" docker image for leiningen. Perhaps, we can add one.

[2017-02-12 05:44] technomancy commented on #2245
Is this something people would use? I would think people would be more concerned about having control over their OS choice and then just doing the lein install on top of that than using an image that locked them into whatever OS/JDK choices that the official lein image had.

[2017-02-12 05:58] johnmcconnell commented on #2245
It's a good question. Right now, I would like because of my current automated deploy setup.

That app stated above is a ring application which runs as an uberjar. I would like to bundle the app into a docker image. I would also like the docker image to run database migrations.

Because the docker images runs the server as an uberjar and needs to handle running db migrations, it is easier to includ

[2017-02-12 06:00] johnmcconnell commented on #2245
Link to dockerfile mentioned above: https://github.com/optly/api/blob/37-create-docker-build/Dockerfile

[2017-02-12 06:03] johnmcconnell commented on #2245
Also, the os and jdk can be parameterized as part of the build matrix if you like.

[2017-02-12 06:52] technomancy commented on #2245
I'm not sure I understand. Migrations should be run without Leiningen.

I think there's use cases when you would want to use Leiningen with
docker in CI, but it would need to be on the OS of your choosing, so I
think it makes more sense to focus on getting it into system package
managers like apt and yum.

[2017-02-12 07:09] johnmcconnell commented on #2245
Totally, getting into the apt and yum repos has a bigger impact. This is more for a very specific use case I am working on.

The application server uses the leiningen plugin, called `drift` and runs via: `lein migrate`

The current docker deployment for the application works like the following:
1. a thing starts a postgresql host
2. a thing runs: `docker run <docker-image> lein migrate` to get the

[2017-02-12 09:03] devurandom commented on #2188
@tlrobinson I used Midje until now. Its JUnit output is not perfect, but it mostly works.

@SevereOverfl0w You mean instead of
[code]
the following should be used?
[code]

What exactly would be the benefit?

[2017-02-12 09:32] SevereOverfl0w commented on #2188
@devurandom Sorry, no. I mean that I should be able to do `lein test :reporter clojure.test.junit/with-junit-output` instead of `lein test :reporter {junit,tap}`, to ensure that future reporters are compatible with leiningen, we shouldn't hardcode the two options that are available in core.

[2017-02-12 11:14] winks commented on #2245
Hmm, I'm not sure a generic docker image would help.
While I see no harm in providing one or more official ones, wouldn't it boil down to exactly these steps per distro?

  1. take distro specific base file
  1. install correct java (might be merged with the above)
  1. grab lein script (via wget?), make executable
  1. run lein self-install

or am I missing something?

[2017-02-12 20:17] johnmcconnell commented on #2245
Right. I didn't think of a generic up to date image and using `lein upgrade`. I think that is the best way to handle it. Do you still want to support an official docker image? I can change the PR.

Containers are useful in that it skips the resolve dependencies stage of deployment.

For example:
* I want service A needs to run.
* host B can run it
* I need to install all of services A dependencies

[2017-02-12 21:01] winks commented on #2245
Yes, I see your point - it makes sense to prepare docker images for certain tools you want in your container. I just think if "smallish" applications like leiningen can be installed with a oneliner and have no config then it's easier if you use any of your docker base images and just create a new snapshot with lein installed. We can't guess who would use which base image, so even a reasonable amou

[2017-02-12 21:15] johnmcconnell commented on #2245
Yeah, it may not be worth the effort. Anyways, I solved my problem with: https://github.com/johnmcconnell/docker-lein, but I should have used: `lein upgrade`. I'm fine closing this, but I'll leave that to you.

[2017-02-12 23:51] technomancy commented on #2245
Upon further thought I think the main reason I feel uncomfortable with this is that besides being unnecessarily specific, declaring an "official Leiningen image" would imply that we have made a commitment to keep that image up-to-date with security patches. I don't want to be burdened with that for something I don't use myself.

[2017-02-12 23:51] #2245 closed

[2017-02-26 20:16] weavejester opened #2248 "Middleware and hooks should take into account plugin group"
Currently middleware and hooks are automatically loaded from the `plugin-name.plugin` namespace. Unfortunately this does not account for the group name, so a project called something like `foo/lein-plugin` would result in the ambiguous namespace `lein-plugin.plugin`.

Ideally, if the group name is different to the artifact name, the group name should also be used. So `foo/lein-plugin` would result

[2017-02-27 04:09] weavejester commented on #2132
Just ran into this bug myself. A fix would be appreciated 😃

[2017-02-27 13:34] theneva commented on #2149
I, too, wonder if anything is happening here :)

[2017-02-27 14:14] hyPiRion commented on #2149
If the only issue is that Lein is ran from the bootclasspath, then this is trivial. Not running from the bootclasspath is time consuming for users though, so I'd be slightly hesitant to fix this immediately.

I can do some measurements on startup time and see how hard we're penalised by not using the bootclasspath.

[2017-02-27 23:25] pmonks opened #2249 "Support for SPDX license identifiers and expressions"
It would be pretty awesome if Leiningen was to embrace the Linux Foundation's [SPDX collaborative project](https://spdx.org/) for everything related to licensing.

There are many possibilities here, but at a minimum being able to declare a Clojure project's license(s) using [SPDX expressions](https://spdx.org/spdx-specification-21-web-version#h.jxpfx0ykyb60) would be a major win for downstream con

[2017-02-27 23:54] winks commented on #2249
So if I understood this correctly, at minimum:

  1. add `:spdx-license-identifier` to `:license` in `project.clj` for leiningen itself
  1. add `:spdx-license-identifier` to `:license` in `project.clj` for the template that's being used for a new `project.clj`
    * document this new key/value pair
  1. make `lein-licenses` aware of this.

I've never seen a `project.clj` with dual licensing, so t

[2017-02-28 00:34] pmonks commented on #2249
Yep I think that's about the sum of it, and I suspect the bulk of the work will be to make `lein-licenses` aware of the new property.  Where I think this might get a bit tricky is in the (inevitable) case of having a dependency tree with a mixture of SPDX and non-SPDX license declarations e.g. should they be normalised to SPDX, or not, or ...?  🤔

I'd argue that that's a separate enhancement to `l

[2017-02-28 00:40] pmonks commented on #2249
Yeah I'm not proposing that Leiningen or `lein-licenses` tries to derive SPDX identifiers or expressions from individual source files.  Just that it support (in `project.clj`) what SPDX calls a "Package License Declared" (i.e. a single license for the overall package).

By way of background, SPDX appears to have grown up in the C / Linux Kernel community, where developers regularly copy source fil

[2017-02-28 01:11] technomancy commented on #2249
We already support a vector of :licenses instead of :license if you have
more than one.

I am quite skeptical that library authors will ever fill out additional
metadata for something like this as they are not the ones who benefit
from it--the only reason :license gets filled out at all is 0) it's part
of `lein new` output and 1) `lein deploy` yells at you otherwise.

But it can't hurt.

The origi

[2017-02-28 01:29] pmonks commented on #2249
more than one.

Sure, though that isn't sufficient to unambiguously express dual licensing, alternative licensing, "or any later version" licensing, or combinations of these things (all of which SPDX license expressions can express).

metadata for something like this as they are not the ones who benefit
from it--the only reason :license gets filled out at all is 0) it's part
of `lein new` output a

[2017-02-28 01:38] pmonks commented on #2249
In thinking a little more about this, it may make more sense for `:spdx-license-identifer` to be a top-level key, rather than going in either `:license` or `:licenses`.  It clearly doesn't make much sense inside `:licenses` (since it internally supports lists of licenses), and could even be considered an alternative to `:license`.

I don't have a strong opinion either way (I'd need to think more a

[2017-03-01 12:11] mmower commented on #2095
Has there been a regression here? I'm having what appears to be the same problem that started when I couldn't run a `lein repl` from within Cursive. It turns out I can't run `lein trampoline repl` from the terminal either.

[project.clj.txt](https://github.com/technomancy/leiningen/files/810628/project.clj.txt)

Siona:carnivore matt$ lein trampoline repl
Compiling ClojureScript...
Exception in thr

[2017-03-02 02:06] danielcompton opened #2251 "Don't warn about version ranges when the range is "[a,a]""
In #734, lein added warning on dependency version ranges. This makes sense in the general case. However I noticed when running https://github.com/capitalone/cqrs-manager-for-distributed-reactive-services, that I got the following warning:

[code]

If you look at the [pom](http://central.maven.org/maven2/io/grpc/grpc-netty/1.0.0/grpc-netty-1.0.0.pom) for grpc-netty, you can see:

[code]

I'm guessi

[2017-03-02 17:39] hyPiRion commented on #2251
If pedantic only were there to ensure repeatability, I'd agree. However, it's also there to help out in case you don't understand why your version isn't picked up.

In this case, I'd like to get this warning if I try to override the version of `io.netty/netty-codec-http2`, and would be very confused if my `[io.netty/netty-codec-http2 "4.1.8.Final"]` vector did absolutely nothing (Or even worse, I

[2017-03-02 19:14] jmsul opened #2252 "Update TUTORIAL.md's clj-http version"
This is a proposed update to the tutorial text in order to save frustration for beginners.

The older version of clj-http used in doc/TUTORIAL.md's Dependencies section, 2.0.0, does not seem to be compatible with Let's Encrypt SSL certs, which causes an obscure error. The tutorial, in the Running Code section, goes on to make a request to https://leiningen.org, but doing so throws an exception pos

[2017-03-02 19:51] danielcompton opened #2253 "Warn when vulnerable JARs are on the classpath?"
AFAIK, Leiningen doesn't have any way of detecting whether JARs with security vulnerabilities are on the classpath. After reading https://opensource.googleblog.com/2017/03/operation-rosehub.html (and remembering the incident last year), I wondered whether it would make sense for Leiningen to maintain a list of JARs that are known to have security vulnerabilities and to warn users when they are on

[2017-03-02 20:04] winks commented on #2253
Sounds useful, but in plugin form. While it makes sense to integrate this into ones build workflow I don't think this should be a core functionality or even enabled by default - not even thinking deeper about the problems of keeping the list up to date.

Related tools:

  * https://security.sensiolabs.org/check (PHP composer dependencies)
  * https://hakiri.io/facets (Ruby gems)
  * and many more

[2017-03-02 20:36] hyPiRion commented on #2253
I think supporting this in some way would be a great idea, but I hope this could begin as a plugin.

Also, I wish the repositories like maven central/clojars et al would be able to provide some kind of revocation in the future, although I understand that it won't happen immediately. Perhaps it makes sense to speak with other JVM-based languages and make a service for this?

[2017-03-02 21:11] danielcompton commented on #2253
Yeah, I started thinking about showing this on Clojars when I started writing this issue. The downside of relying on Clojars solely, is that many people don't visit it to check out project versions. Revocation is a bit more thorny, as people's build can start breaking.

Just to clarify, are you talking about making a service that any JVM based tool can use to check if JARs are safe? That sounds pr

[2017-03-02 21:17] technomancy commented on #2253
I think this should be a 3rd-party service which can follow the Clojars feed. It would be great to create a plugin which could use the service to scan a local project, but since it inherently needs a frequently-updated list I think the canonical source needs to be a service, not a plugin. A service could even open GitHub issues for projects which depend on bad libs.

[2017-03-02 21:53] hyPiRion commented on #2253
Yeah, I guess I used revoke incorrectly here. I meant some functionality that could warn users about security issues, but not break their build.

[2017-03-10 04:17] mrmcc3 commented on #2215
I've run into this AWS/Cheshire/Jackson version mismatch several times when developing plugins. It's extremely frustrating and hard to track down. I see this is fixed on master but I fear this issues will reappear again if/when Jackson makes breaking changes that AWS adopts before leiningen. From what I can see the only place cheshire is used is in `leiningen.search`. Would it be better if we just

[2017-03-10 04:29] technomancy commented on #2215
The search task is the only direct dependency, but we also pull it in via reply, the nrepl client.

[2017-03-10 04:40] mrmcc3 commented on #2215
Ahh right makes sense

[2017-03-11 00:34] kenrestivo-stem commented on #2188
I had no problems by doing this:

[code]

And got what I wanted.

[2017-03-11 01:22] technomancy commented on #2188
The built-in support for junit in `clojure.test` is not suitable for general-purpose use because it swallows all normal error/failure output. We already monkeypatch `clojure.test` pretty hard, so I am much more inclined to point people to a third-party test runner than to try to mangle `clojure.test` even harder.

[2017-03-11 01:35] kenrestivo-stem commented on #2188
True, I had to do a

[code]
At the top of my core.clj file in order to get valid junit.xml output.

What test runner do you recommend for outputting junit.xml (for use in, sorry about this, Jenkins) from clojure.test tests?

[2017-03-12 12:42] firesofmay commented on #1765
@hyPiRion Hi, what kind of errors and errors messages you are expecting? What ns should I check to add this feature?

[2017-03-12 16:12] firesofmay commented on #2198
@hyPiRion Is this still an open issue or we can close this?

[2017-03-12 16:27] firesofmay commented on #2197
@hyPiRion Isn't this done already? I tried it with `Leiningen 2.7.1` on a sample project which has the following alias `:aliases {"test-all" ["test"]}`

[code]

It looks like its already patched. Can you confirm? If done can you close this issue?
Thanks.

[2017-03-12 21:40] danielcompton commented on #2197
@firesofmay, I think what is being described is that if someone aliases `test`, there is no longer a way to get help on the original built-in test command with `lein help test`.

[2017-03-13 04:51] technomancy commented on #2188
I have been looking into this and haven't found one I can recommend yet.

[2017-03-13 05:01] danielcompton commented on #2188
I use https://github.com/ruedigergad/test2junit with CircleCI successfully.

[2017-03-13 06:15] #2252 closed

[2017-03-13 14:32] yochannah commented on #2240
I had the same issue, and fixed it with the incanter fix detailed above. @michaellindon Thanks for posting your solution!!

[2017-03-13 16:03] timvisher commented on #2197
@danielcompton correct.

[2017-03-13 16:08] firesofmay commented on #2197
@danielcompton Ah I see. How would I go about fixing this? Can you guide me to the namespaces I should look at?

[2017-03-13 16:49] Hendekagon commented on #2240
or [incanter "1.9.1" :exclusions [org.clojure/clojure]]

[2017-03-14 02:06] johnmcconnell opened #2259 "Release uberjar to clojars"
I currently have a use case where my CI infrastructure downloads leiningen and bundles it up with the application. I believe the lein self install uses an AWS endpoint. Can we release leiningen to mvnrepository or clojars?

[2017-03-14 04:26] technomancy commented on #2259
I don't think they'll accept uploads of uberjars; they have pretty strict requirements on uploads.

[2017-03-15 16:55] johnmcconnell commented on #2259
Okay thanks!

[2017-03-15 16:55] #2259 closed

[2017-03-16 10:55] danskarda commented on #2132
I have similar problem with `:uberjar` profile. I experiment with few different libraries (say lib-a, lib-b) and want to make uberjar with lib-a:

[code]

When I try to  `lein uberjar` I got three warnings:
[code]

Then uberjar dies because it does not find sources in `src-lib-a`.

[2017-03-23 20:39] technomancy commented on #2224
Leiningen uses nREPL during normal repl operation because it has to communicate between Leiningen's own process (which is connected to stdin) and the project process. When trampolining, Leiningen's own process has exited, so it skips the client/server setup entirely as it is unnecessary.

If you explicitly want to start a server, you should be able to use `lein trampoline repl :headless`.

I will

[2017-03-23 20:39] #2224 closed

[2017-03-23 20:43] technomancy commented on #2188
I'm going to close this out since it shouldn't be handled as part of Leiningen, but I would accept a documentation patch recommending plugin alternatives.

[2017-03-23 20:43] #2188 closed

[2017-03-23 20:45] technomancy commented on #2186
If you want all users to be on the same version of Leiningen, I recommend copying `bin/lein` into the project repo itself and using that.

I would accept a patch to warn or abort on a mismatch, but it won't do any good for versions that already exist.

[2017-03-23 20:45] #2186 closed

[2017-03-23 20:53] technomancy commented on #2173
I don't think there's much we can do about this; `clojure.test` is notoriously inflexible, and my efforts to improve it upstream have historically had a very poor success rate; otherwise we never would have resorted to this unfortunate monkeypatching.

If I had to do it over again I would have made `lein test` use a fork of `clojure.test` so that we could improve it as needed, but there's no way t

[2017-03-23 20:53] #2173 closed

[2017-03-23 21:13] #2198 closed

[2017-03-23 21:13] technomancy commented on #2198
Wow, this is a gnarly piece of bending-over-backwards-compatibility indeed.

However, I pushed a fix that should take care of the infinite recursion.

[2017-03-23 21:46] #2054 closed

[2017-03-25 11:43] agoldhammer opened #2260 "lein uberjar in osx terminal interferes with shell commands"
After running lein uberjar in osx terminal (or iterm2), ls command no longer shows files. cd command restores functionality of ls. Very weird behavior.

[2017-03-28 12:29] TangJiong commented on #2025
I come up with the same problem!!! I use ```brew install``` to get lein installed successfully, but when I try to open a lein project with intellij idea, it starts to download leiningen-standalone.zip again  but always with the same result 'cannot download leiningen-standalone.zip'. I've tried use hotspot with my mobile, but it dosen't work

[2017-03-28 21:27] mtexier commented on #2149
I have the same problem after a fresh clojure + lein install on Ubuntu.
Any news?

@hyPiRion Can you explain?

[2017-03-28 21:34] technomancy commented on #2149
@mtexier The references to `sun.misc` in the issue description have been addressed as far as I can tell. If you are seeing problems with running the git master version of Leiningen on Java 9 please do share details; it may be that we have to wait for a stable release of Clojure 1.9.0.

If you're having problems with version 2.7.1 that is expected at this point.

[2017-03-28 22:21] technomancy commented on #2245
For anyone interested, there are "official" Clojure images on Docker Hub that include Leiningen: https://hub.docker.com/_/clojure/ (They are not actually official in any way other than being marked by Docker as such.)

[2017-03-28 23:18] matanster commented on #847
I wonder how does my use case merge here, as it is differently specific compared to the beaver use case, yet falls under the same issue title of interleaving clojure and java code:

I am writing a clojure library to be used by both clojure and Java applications. In order to have proper tests for my library, the library project includes a Java source file that uses the clojure code, so that usage f

[2017-03-29 00:15] technomancy commented on #847
This might work:

    $ lein do javac, with-profile +test javac, test

Keep the source for #3 above in the test-java-src/ dir, and include that `:java-source-paths` entry in the `:test` profile.

You can add this to streamline things:

    :aliases {"test" ["do" "javac," "with-profile" "+test" "javac," "test"]}

[2017-03-29 06:57] matanster commented on #847
Thanks @technomancy this looks promising and I've learned about various ways of using profiles now. One thing I'm still after is making the clojure namespaces of my project available to the Java code being run/compiled from the suggested `test-java-src` dir. It seems that Java source fails to find the namespace compiled from my clojure code, resulting in a "package does not exist" error.

So I am

[2017-03-29 08:54] matanster commented on #847
Well I learn that AOT should be used to allow the use of clojure code from Java code within the same project, but I bump into a potential clojure/lein issue as it looks like compilation gets broken under the hood:

[code]

There's nothing in the [source code I have](https://github.com/matanster/boteval-fiddle/blob/4714a1d8d8924bb68513bb393589ca38c8e2a187/src/clojure/org/boteval/samples/driver.clj)

[2017-03-29 17:14] tobias commented on #2149
@hyPiRion I did some benchmarking of startup time with and without the bootclasspath (averaged over 100 invocations of `lein deps`):

* Java 8, using bootclasspath: 1.0394s
* Java 8, no bootclasspath: 1.1844s
* Java 9, no bootclasspath: 1.3277s

So, for me, the difference between Java 8 w/BCP and Java 9 (where loading from the BCP isn't an option) is about 28%. So, it's not terrible, but I know it

[2017-03-29 21:03] mtexier commented on #2149
@technomancy I'm not sure this is the right issue, my exact issue is this one:
https://github.com/clojure-emacs/refactor-nrepl/issues/169
that redirects here.
I tried with git master version of leiningen but I still have the issue:

[2017-03-29 22:10] tobias commented on #2149
@mtexier That issue isn't caused by leiningen, but does have the same root cause as this issue had originally: https://github.com/tobias/dynapath/issues/5. I'll comment further on the refactor-nrepl issue.

[2017-03-30 04:58] matanster commented on #847
Well, my problem was with AOT compilation alone, [in my case](http://dev.clojure.org/jira/browse/CLJ-1622?focusedCommentId=45307#comment-45307). I will post my working java sandwiching example if anyone cares.

[2017-03-30 05:57] matanster commented on #847
Thanks @technomancy for the assistance:
My solution, using aliases for hooking up clojure and java tests without introducing compile-time dependency between them:

[code]

I avoided the extra compile-time dependency, because having leiningen compile my clojure tests code only _after_ my java test code ― such that my java test code could be called from my clojure tests ― is currently beyond me; I a

[2017-03-30 19:52] mtexier commented on #2149
@tobias thanks ;)

[2017-03-31 21:32] tobias commented on #2149
It was pointed out to me that I haven't actually said how to get existing `lein`s to work with Java 9. The current workaround is to comment out:

[code]

from the `lein` shell script.

[2017-03-31 22:04] technomancy commented on #2149
I just committed a patch which checks for $LEIN_SKIP_BOOTCLASSPATH, but
of course if you want to use 2.7.1 or older you'll need to edit the
shell script yourself.

[2017-03-31 22:34] tobias commented on #2149
@technomancy cool, thanks!

[2017-04-01 00:01] trxeste commented on #2168
Same issue on my Calculate Linux (Gentoo)

[2017-04-03 04:08] didibus commented on #2173
Another workaround is to add `(run-tests)` at the end of you test namespace. It has the unfortunate effect of having lein run the tests twice, but it appears to fix this issue at the same time.

[2017-04-03 16:25] technomancy commented on #2260
If you can provide a repro case that would be helpful; this does not happen on most projects and is much more likely to be a problem with the project in question than with Leiningen.

[2017-04-03 17:16] agoldhammer commented on #2260
Here is the project.clj:
(defproject statcounter "0.1.1-SNAPSHOT"
  :description "Query statcounter api"
  :url "http://example.com/FIXME"
  :license {:name "Eclipse Public License"
            :url "http://www.eclipse.org/legal/epl-v10.html"}
  :dependencies [[org.clojure/clojure "1.8.0"]
                 [org.clojure/core.async "0.3.442"]
                 [org.clojure/data.json "0.2.6"]

[2017-04-03 17:22] technomancy commented on #2260
OK, if you're starting *inside* the `target/` directory here then it's just that the directory is deleted during the uberjar process, so your shell is trying to list the files of a non-existent directory; you have to `cd` to a real directory before `ls` will work again. This doesn't really have anything to do with Leiningen, it's just a confusing behavior of your shell.

[2017-04-03 17:22] #2260 closed

[2017-04-03 17:33] agoldhammer commented on #2260
OK, thanks.

[2017-04-04 19:12] zloster commented on #2253
My two cents (about the JAR from Java world) Recently I've found out about:

- https://github.com/jeremylong/DependencyCheck - this one seems more sophisticated
- https://github.com/victims/victims-enforcer from http://www.victi.ms/ - this one is only for JARs

At least they will give you some ideas about what and how to be implemented.

[2017-04-06 18:42] Zintinio opened #2264 "Unclear how to provide Wagon Proxy settings"
I wasn't sure where to post this, but I have been having an issue with proxies and leiningen / wagons. Specifically, in `project.clj` the user _should_ be able to pass proxy settings to the underlying network connector for wagon plugins, but I don't see this documented anywhere for either leiningen or the example plugins (s3, etc). A [docstring within Pomegranate](https://github.com/cemerick/pomeg

[2017-04-06 18:56] Zintinio commented on #2264
I'm still not certain if this actually works, as I've not seen it used anywhere.

[2017-04-07 22:32] devth commented on #878
Is this a benign / ignorable error or does it actually cause problems?
Regardless of whether the types match, I'd expect the last value to win / override.

[2017-04-07 22:40] technomancy commented on #878
Really? You'd expect adding :dependencies in your :dev profile to wipe out the :dependencies from the top-level defproject map? This is not how most users expect it to work.

When people expect it to work one way, and it works differently, there's always plenty of potential for problems.

[2017-04-07 22:41] devth commented on #878
To clarify: I only meant when there's a type conflict. Always merge when possible. Fallback to replace when not.

[2017-04-07 22:47] technomancy commented on #878
I see--this issue is actually about the fact that "always merge when possible" is not always the correct choice--merging two lists like `(require 'xyz)` and `(println "abc")` gives you `(require 'xyz println "abc")`, which is wrong. You can see some examples of this in the comments above.

[2017-04-14 09:40] kipz commented on #1080
Maven has a working solution for gpg2, using a file descriptor/batch mode as described above:

https://svn.apache.org/viewvc/maven/plugins/tags/maven-gpg-plugin-1.6/src/main/java/org/apache/maven/plugin/gpg/GpgSigner.java?view=markup

It'd be great to get something working as currently it's super hard to get unattended gpg working with lein!

[2017-04-18 09:44] Rovanion opened #2265 "Documentation for :test-selectors"
In `sample.project.clj` it's mentioned that one should "See `lein help tutorial` for more information." However the output of `lein help tutorial` never mentions the key `:test-selectors` and is therefore of little help on the subject.

Where can one find help on `:test-selectors`? I can't find it mentioned in `doc/`.

[2017-04-24 20:43] technomancy commented on #2265
I think this is likely to just be a typo; it should say `lein help test`.

[2017-04-24 20:49] #2265 closed

[2017-04-25 00:17] szurcher opened #2268 "Tutorial example url breaks with Oracle JDK due to security cert"
A security exception is thrown instead of receiving an http response object when following the tutorial because http://leiningen.org now automatically redirects to https://leiningen.org, and the site's security certificate is from Let's Encrypt which Oracle does not yet have default trust for in their JDK.

For tutorial purposes, it's easily fixed by providing an example url that either does not r

[2017-04-25 14:30] huima opened #2269 "2.8.0 release date?"
Related to issues with Cheshire and AWS SDK ( see https://github.com/technomancy/leiningen/issues/2215 ) versions, would be interested to know when next release is intended to be made.

[2017-04-25 17:01] technomancy commented on #2269
I would like to wait to release 2.7.2 after Clojure 1.9 is out so that plugins can use it; however I don't know if it's a good idea to wait since it's been in alpha for an incredibly long time with (as far as I know) no indication a release is imminent. So maybe that's unrealistic.

I do have one more change I would like to land before a release, and that is moving the `reply` dependency to one th

[2017-04-25 17:07] lkonstantinov commented on #2269
Please, think of us, the poor victims of #2212 as well :)

[2017-04-25 17:25] technomancy commented on #2269
Also need https://github.com/technomancy/leiningen/pull/2261 resolved for 2.7.2.

[2017-04-25 20:27] technomancy commented on #2215
Leiningen no longer depends on Cheshire: https://github.com/technomancy/leiningen/commit/f27dff2a07c9ee0d0c6ece10332488b89c03c7dd

[2017-04-26 22:07] metametadata commented on #2131
I've just stumbled upon the similar problem:

[code]

Excluding `instaparse` doesn't help:

[code]

[2017-04-27 00:02] technomancy commented on #2131
Does it work if you add `venantius/glow` as a direct dependency and put the `instaparse` exclusion in that?

[2017-04-27 08:59] metametadata commented on #2131
These combinations fail with the same error as in my original comment:

1) provide `glow` with excluded `instaparse` explicitly:

[code]

2) and also exclude `glow` from `ultra`:

[code]

**BUT** everything works if I provide `glow` explicitly without any exclusions:

[code]

Thank you for the tip, I think I'll use this workaround until the issue is fixed.